@media screen and (max-width: 1627px) {
  .wrapper {

     .right-block {

        .content {

            .category-catalog-content {

                &__wrapper-list {

                    &__element {

                        &.dop-block {
                          display: inline-block;
                        }
                    }
                }
            }
        }

     }
  }

}
@media screen and (max-width: 1479px) and (min-width: 1256px){
  .wrapper {

      .right-block {

          .content {

              .catalog-content {

                  &__wrap-catalog {

                      &__list {

                          &__element {
                            width: 23.6%;
                          }
                      }
                  }
              }
          }
      }
  }
}
@media screen and (max-width: 1255px) and (min-width: 1019px){
  .wrapper {

    .right-block {

      .content {

        .catalog-content {

          &__wrap-catalog {

            &__list {

              &__element {
                width: 31.9%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1018px) and (min-width: 781px){
  .wrapper {

    .right-block {

      .content {

        .catalog-content {

          &__wrap-catalog {

            &__list {

              &__element {
                width: 48.6%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 780px) and (min-width: 460px){
  .wrapper {

    .right-block {

      .content {

        .catalog-content {

          &__wrap-catalog {

            &__list {
              float: none;
              width: 100%;

              &__element {
                width: 48.6%;
              }
            }

            &__banner {
              float: none;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 459px) and (min-width: 320px){
  .wrapper {

    .right-block {

      .content {

        .catalog-content {

          &__wrap-catalog {

            &__list {
              float: none;
              width: 100%;

              &__element {
                width: 100%;

              }
            }

            &__banner {
              float: none;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1307px) {
  .wrapper {

      .right-block {

          .content {

              .article-catalog {

                  &__inner-text {
                    float: none !important;
                    width: 100% !important;
                  }

                  &__banner-block {
                    float: none !important;
                    margin: 0 auto;
                  }
              }

              .article-page {

                  &__banner-block {
                    float: none;
                    margin: 0 auto;
                  }

                  &__inner-text {
                    width: 100%;
                    float: none;
                  }
              }
          }
      }
  }
}
@media screen and (max-width: 1023px) and (min-width: 794px){
  .wrapper {

    .right-block {

      .content {

        .article-page {

          &__goods-block {

            &__wrapper-blocks {

              &__element {
                width: 32.4%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 794px) and (min-width: 510px){
  .wrapper {

    .right-block {

      .content {

        .article-page {

          &__goods-block {

            &__wrapper-blocks {

              &__element {
                width: 49.3%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 510px){
  .wrapper {

    .right-block {

      .content {

        .article-page {

          &__goods-block {

            &__wrapper-blocks {

              &__element {
                width: 100%;
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1315px){
  .wrapper {

    .right-block {

      .content {

        &__wrap-map {

            &__description {

                &__tabs {

                    &__links-content {

                        &__text {

                            .left-part,
                            .right-part{
                              width: 100%;
                              float: none;
                            }

                            .right-part {
                              text-align: left;
                              padding: 10px 0;
                            }
                        }
                    }
                }
            }
        }
      }
    }
  }
}
@media screen and (max-width: 1045px){
  .wrapper {

    .right-block {

      .content {

        &__wrap-map {

          &__description {

            &__yMap {
              float: none;
              max-width: none;
              width: 100%;
            }

            &__tabs {
              float: none;
              width: 100%;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1259px){
  .wrapper {

    .right-block {

      .content {

          .catalog-content {

              &__wrap-catalog {

                  .similar {
                    width: 100%;

                      & > div {
                        width: 47%;
                      }
                  }
              }
          }
      }
    }
  }
}
@media screen and (max-width: 768px){
  .wrapper {

    .right-block {

      .content {

         &__wrap-map {

            &__description {

                &__tabs {

                    &__links-content {
                      padding-left: 10px;
                    }
                }
            }
         }

        .catalog-content {

          &__wrap-catalog {

            .similar {
              width: 100%;

              & > div {
                width: 45%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px){
  .wrapper {

    .right-block {

      .content {

        .catalog-content {

          &__wrap-catalog {

            .similar {
              width: 100%;

              & > div {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px){
  .wrapper {

      .right-block {

          .content {

              .article-catalog {

                  &__wrapper {

                      &__element {

                          .article-img {
                            float: none !important;
                            width: 100% !important;
                          }
                        
                          .article-text {
                            float: none !important;
                            width: 100% !important;
                            margin-top: 10px !important;
                            margin-left: 0 !important;
                          }
                      }
                  }
              }
          }
      }
  }
}
@media screen and (max-width: 1402px) and (min-width: 1183px){
  .wrapper {

    .right-block {

      .content {

        .gallery {

            &__inner-text {

                &__album-list {

                    &__photo {

                        width: 24%;
                    }
                }
            }
        }
      }
    }
  }
}
@media screen and (max-width: 1182px) and (min-width: 963px){
  .wrapper {

    .right-block {

      .content {

        .gallery {

          &__inner-text {

            &__album-list {

              &__photo {

                width: 32%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 962px) and (min-width: 769px){
  .wrapper {

    .right-block {

      .content {

        .gallery {

          &__inner-text {

            &__album-list {

              &__photo {

                width: 48.5%;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) and (min-width: 461px){
  .wrapper {

    .right-block {

      .content {

        .gallery {

          &__inner-text {
            float: none;
            width: 100%;

            &__album-list {

              &__photo {

                width: 48.5%;
              }
            }
          }

          &__banner-block {
            float: none;
            margin: 0 auto;
          }

        }
      }
    }
  }
}
@media screen and (max-width: 460px) {
  .wrapper {

    .right-block {

      .content {

        .gallery {

          &__inner-text {
            float: none;
            width: 100%;

            &__album-list {

              &__photo {

                width: 100%;
              }
            }
          }

          &__banner-block {
            float: none;
            margin: 0 auto;
          }

        }
      }
    }
  }
}

@media screen and (max-width: 1420px) and (min-width: 1195px) {
  .wrapper {

      .right-block {

          .content {

              .category-catalog-content {

                  &__wrapper-list {

                      &__element {

                          &.one-square-category {
                            .one-square-category(24.2%);
                          }

                          &.two-square-category {
                            .one-square-category(24.5%*2);
                          }
                      }
                  }
              }
          }
      }
  }
}

@media screen and (max-width: 1194px) {
  .wrapper {

    .right-block {

      .content {

        .category-catalog-content {

          &__wrapper-list {
            text-align: justify;

            &__element {

              &.one-square-category {
                .one-square-category(49%);
              }

              &.two-square-category {
                .one-square-category(100%);
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .wrapper {

    .right-block {

      .content {

        .category-catalog-content {

          &__inner-text {
            width: 100%;
            float: none;
          }

          &__banner-block {
            width: 100%;
            float: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .wrapper {

    .right-block {

      .content {

        .category-catalog-content {

          &__wrapper-list {
            text-align: justify;

            &__element {

              &.one-square-category {
                .one-square-category(100%);
              }

              &.two-square-category {
                .one-square-category(100%);
                min-width: 200px !important;
              }
            }
          }
        }
      }
    }
  }
}
/**/
@media screen and (max-width: 1146px)  and (min-width: 946px){
  .wrapper {

    .right-block {

      .content {

        .category-catalog-content {

          &__wrapper-list {

              &.section {

                  .row {

                      & > div {

                        &.one-square-category {
                          .one-square-category(24.1%);
                        }

                        &.two-square-category {
                          .one-square-category(24.5%*2);
                          min-width: 415px !important;
                        }
                      }
                  }
              }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 945px) and (min-width: 460px){
  .wrapper {

    .right-block {

      .content {

        .category-catalog-content {

          &__wrapper-list {

            &.section {

              .row {

                & > div {

                  &.one-square-category {
                    .one-square-category(49.1%);
                  }

                  &.two-square-category {
                    .one-square-category(100%);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/**/
@media screen and (min-width: 660px) and (max-width: 1600px){
  .wrapper {

    .right-block {

      .content {

        &__wrap-map {

            &__description {

                &__tabs {

                    &__links-content {

                        dl {

                            &.params {
                              width: 50%;
                            }
                        }
                    }
                }
            }
        }
      }
    }
  }
}
@media screen and  (max-width: 659px){
  .wrapper {

    .right-block {

      .content {

        &__wrap-map {

          &__description {

            &__tabs {

              &__links-content {

                dl {

                  &.params {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1788px) and (min-width: 1400px) {
  .wrapper {

      .right-block {

          .content {

              &__list-category {

                  &__element {

                    &.afiche-thema-blue,
                    &.afiche-thema {

                        .list-afiche {

                            ul {

                                li {

                                    &:nth-of-type(5),
                                    &:nth-of-type(6) {
                                      display: none;
                                    }
                                }
                            }
                        }
                    }
                  }
              }
          }
      }
  }
}
@media screen and (max-width: 1589px) and (min-width: 1400px) {
  .wrapper {

      .right-block {

          .content {

              &__list-category {

                  &__element {

                    &.critic-theme-gray,
                    &.critic-theme {

                        .critic-list {

                            .element-critic {

                                &:nth-of-type(4) {
                                  display: none;
                                }
                            }
                        }
                    }
                  }
              }
          }
      }
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  #ui-datepicker-div {
    &:before,
    &:after {
      right: auto;
      left: 19px;
    }
  }
}
@media screen and (min-width: 320px) and (max-width: 1042px) {
  .wrapper {

      .right-block {

          .content {

              &__list-category {

                  &__element {

                      &.critic-theme {

                        .critic-list {

                             .element-critic {
                                  .text {
                                    width: calc(~'100% - 76px');
                                  }
                              }
                        }
                      }

                      &.critic-theme-gray {
                        .critic-list {

                          .element-critic {
                            .text {
                              width: calc(~'100% - 76px');
                            }
                          }
                        }
                      }

                      &.critic-theme-green {
                        .critic-list {

                          .element-critic {
                            .text {
                              width: calc(~'100% - 76px');
                            }
                          }
                        }
                      }

                      &.critic-theme-orange {
                        .critic-list {

                          .element-critic {
                            .text {
                              width: calc(~'100% - 76px');
                            }
                          }
                        }
                      }
                  }
              }
          }
      }
  }
}