@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .wrapper {

      header {
        padding-left: 20px;
      }

      .right-block {

        .footer {

          &__subscription {
            padding-left: 25px;

              &__block {

                  &:first-child {
                    margin-right: 2.2%;
                    letter-spacing: -.4px;
                  }

                  &:nth-of-type(2) {
                    width: 25%;
                  }

                  &:nth-of-type(3) {
                    width: 18%;
                  }
              }
          }

          &__links {
            padding-left: 20px;
            height: 700px;

              &__block {
                margin-right: 1.2%;
                margin-bottom: 25px;
                width: 24%;
              }
          }


        }
      }

  }


}