@media screen and (min-width: 1000px) and (max-width: 1400px) {
  .wrapper {

      .right-block {

        header {
          padding-left: 20px;
        }

        .footer {

          &__subscription {
            padding-left: 25px;

              &__block {

                  &:first-child {
                    letter-spacing: -.4px;
                  }
              }
          }

          &__links {
            padding-left: 20px;
            height: 700px;

              &__block {
                margin-right: 1.2%;
                margin-bottom: 25px;
                width: 24%;
              }
          }


        }

        .content {
          padding-left: 20px;

          &__wrap-slide {

            &__block-slider {

                &__text-slide {
                  max-width: 300px;

                    .title-slide {
                      font-size: 2.4375em;
                    }

                    .text-slide {
                      font-size: 1.0625em;
                      line-height: 1.5em;
                    }
                }
            }

          }

          &__list-category {

              &__element {

                &.slider-theme {

                  .swiper-slide {
                    .height();
                  }
                }
              }

              .one-square {
                  width: 100%;
                  min-width: 200px;
                  max-width: 200px;
                  height: 200px;
              }

              .two-square {
                width: 200px;
                min-height: 400px;
                height: 100%;
              }

              .four-square {
                width: 400px;
                min-height: 400px;
                height: 100%;
              }

              .six-square {
                width: 600px;
                min-height: 400px;
                height: 100%;
              }
          }
        }
      }

  }


}