@media screen and (min-width: 460px) and (max-width: 767px) {
  .wrapper {
    position: relative;

    .right-block {
      width: 100%;
      top: 0;

        header {
          padding-right: 20px;
          padding-left: 20px;
        }

        &__logo {
          width: 122px;
        }

        &__slogan {
          display: none;
        }

        &__search {
          margin-top: 0;
          width: 45%;

          &__top {

            &__soc {
              float: none;
              width: 100%;
              position: absolute;

              ul {

                &:after {
                  display: inline-block;
                  content: '';
                  width: 100%;
                }

                li {
                  margin-right: 37px;
                }
              }
            }

            &__city {
              width: auto;
              position: absolute;
              top: 36px;
              z-index: 10;
              right: 137px;
            }

            &__search768 {
              display: block;
              right: 58px;
              top: 33px;
            }

            &__burger460 {
              width: 30px;
              height: 30px;
              cursor: pointer;
              position: absolute;
              right: 0;
              top: 37px;

              span {
                display: block;
                width: 100%;
                height: 3px;
                margin-bottom: 5px;
                background-color: @orange;
              }

            }
          }

          &__input {
            margin-top: 97px;
            position: relative;
            width: 133%;
            left: -33%;
            display: none;

            &.visible-search {
              display: block;
            }
          }
        }

        .footer {
          &__subscription {
            padding-left: 20px;
            padding-right: 20px;

            &__block {

              &:first-of-type {
                display: block;
                margin-bottom: 15px;
              }

              &:nth-of-type(2) {
                display: block;
                margin-bottom: 15px;
                width: 100%;
              }

              &:nth-of-type(3) {
                width: 65%;
              }

              input {

                  &[type=submit] {
                    padding: 5px 26px;
                  }
              }
            }
          }

          &__links {
            padding-left: 20px;
            padding-right: 20px;
            height: 1450px;

              &__block {
                width: 50%;
              }
          }
        }
    }

    .left-menu {
      position: absolute;
      left: 0;
      width: 100%;
      transform: translateX(-100%);
      z-index: 15;

        &__burger {

            &.open--burger {

            }
        }
    }
  }
}