@backLeftMenuColor: #282828; // цвет заднего фона левого меню
@burgerColor: #6b6e74; //цвет бургер меню
@sloganColor: #1b305c; // цвет слогана в шапке
@cityLink: #495d69; //цвет выбора города в шапке
@socColor: #a6adb8; //цвет соцсетей в шапке
@grayBorder: #dddddd; //цвет рамки у поиска в шапке
@orange: #ef4601; // кнопка поиска шапка
@leftMenuLink: #dddddd; // цвет ссылок левого меню
@white: #fff;
@footerSlider: #f0f1f3; // цвет заднего фона слайдера в футере
@footerSubscription: #dee2e9; //цвет заднего фона подписки в футере
@footerInputColor:  #7291a4; //цвет текста инпут подвал
@blueThemeColor: #01315f; // цвет темы синей
@lightBlueThemeColor: #7998b5; //цвет светло голубой темы
@colorText: #646464; //цвет текста на главной