* {
  margin: 0;
  padding: 0;
}
body,
html {
  font: normal 100%;
  height: 100%;
}
body {
  background-color: #282828;
}
.clearfix {
  clear: both;
}
.wrapper {
  height: 100%;
  width: 100%;

    &:after {
      display: block;
      content: '';
      clear: both;
    }

    .left-menu {
      width: 69px;
      float: left;
      height: 100%;
      background-color: @backLeftMenuColor;
      padding-left: 10px;
      padding-top: 15px;
      padding-right: 10px;
      box-sizing: border-box;
      position: relative;

        &.translate {
          transform: translateX(0);
          transition: transform .5s ease !important;
          position: fixed;

            .open--submenu {
              margin-top: 52px;

                .wrap-link {
                  opacity: 1 !important;
                  visibility: visible;
                  padding-left: 10px !important;

                    &:before {
                      display: none !important;
                    }

                    a {
                      background-color: transparent !important;
                      padding-top: 14px;
                    }
                }
            }

            .burger {
              position: absolute;
              right: 10px;
            }
        }

        &__burger {
          width: 30px;
          height: 22px;
          cursor: pointer;
          margin: 0 auto;
          right: 0;

            span {
              display: block;
              width: 100%;
              height: 3px;
              margin-bottom: 5px;
              background-color: @burgerColor;
              transition: top .5s ease .5s, height .5s ease .5s;
            }

            &.view-menu {
              transition: right .5s linear;
            }

            &.open--burger {
              width: 40px;
              height: 30px;
              position: absolute;
              right: 15px;

              span {
                height: 1px;
              }

              & span:first-of-type {
                transform: rotate(-45deg);
                transition: transform .5s ease, top .5s ease, height .5s ease;
                margin-bottom: 0;
                position: relative;
                top: 14px;
              }

              & span:last-of-type {
                transform: rotate(45deg);
                transition: transform .5s ease, top .5s ease, height .5s ease;
                position: relative;
                top: 7px;
              }

              & span:nth-of-type(2) {
                opacity: 0;
                transition: opacity .1s ease;
              }
            }
        }

        &__submenu {
          margin-top: 22px;

            ul {
              list-style-type: none;

                & li {
                  position: relative;

                  &:after {
                    display: block;
                    content: '';
                    clear: both;
                  }

                  &.color--blue {
                    background-color: @sloganColor;

                    a {
                      color: @socColor;
                    }

                    .wrap-link {
                      min-width: 250px;
                    }

                    &:before {
                      display: block;
                      content: '';
                      position: absolute;
                      right: -10px;
                      height: 100%;
                      background-color: @sloganColor;
                      width: 10px;
                    }
                  }

                }
            }

            &__wrap-svg {
              box-sizing: border-box;
              height: 50px;
              padding-top: 8px;
              width: 59px;

                svg {
                  width: 80%;
                  height: 35px;
                  fill: @burgerColor;
                }

                &.color--orange {
                  background-color: @orange;
                  position: relative;

                    &:before {
                      display: block;
                      content: '';
                      position: absolute;
                      left: -10px;
                      top: 0;
                      width: 68px;
                      height: 100%;
                      background-color: @orange;
                      z-index: 0;
                    }

                    svg {
                      fill: @white;
                      transition: all .5s ease;
                      position: relative;
                      z-index: 1;

                    }
                }
            }

            &__wrap-link {
              position: absolute;
              float: left;
              top: 0;
              left: 59px;
              height: 100%;
              opacity: 0;
              visibility: hidden;
              box-sizing: border-box;
              padding-left: 10px;
              z-index: 100;
              word-wrap: normal;

                & a {
                  font: 18px @narrow;
                  color: @grayBorder;
                  text-decoration: none;
                  text-transform: uppercase;
                  display: block;
                  width: 100%;
                  height: 69%;
                  padding-top: 15px;
                }
            }
        }

        &.hover {
          transition: width .5s ease;

            & > div:last-of-type {
              margin-top: 55px;
            }

            li {

                .wrap-link {
                  opacity: 1;
                  visibility: visible;
                  transition: opacity .5s ease;

                }
            }
        }

        &.close {
          transition: width .5s ease, transform .5s ease;

            li:hover {

              .wrap-link {
                opacity: 1 !important;
                visibility: visible !important;
                transition: opacity .5s ease;
                background-color: @sloganColor;
                padding-left: 20px;

                  &:before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-top: 5px solid transparent;
                    border-left: 8px solid @orange;
                    border-bottom: 5px solid transparent;
                    left: -1px;
                    top: calc(~'50% - 5px');
                  }

                  a {
                    background-color: @sloganColor;
                    padding-right: 10px;
                  }
              }
            }
        }
    }

    .right-block {
      width: calc(~'100% - 69px');
      height: 100%;
      float: left;
      box-sizing: border-box;

        header {
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 15px;
          background-color: @white;

            &:after {
              display: block;
              width: 100%;
              clear: both;
              content: '';
            }

            &.scroll--fixed {
              position: fixed;
              z-index: 15;
              background-color: @white;
            }
        }

        &__logo {
          width: 172px;
          float: left;

            img {
              width: 100%;
              max-width: 100%;
            }
        }

        &__slogan {
          float: left;
          margin-left: 5.928571428571429%; /*83/1400*/
          margin-top: 34px;
          width: 22.5%; /*315/1400*/

            p {
              text-transform: uppercase;
              color: @sloganColor;
              font: bold 1.5em @narrow; /*1.5em*/
            }
        }

        &__search {
          float: right;
          width: 41%; /*787/1400*/
          margin-top: 9px;
          position: relative;

            &__top {

                &__city {
                  width: 11.38888888888889%; /*82/720*/
                  float: left;

                    .city-link {
                      text-decoration: none;
                      color: @cityLink;
                      font: 1.125em @narrow;
                      text-transform: uppercase;
                      position: relative;
                      padding-left: 4px;

                        & .arrow-city {
                          fill: #ef4601;
                          height: 13px;
                          position: absolute;
                          right: -19px;
                          top: calc(~'50% - 4.5px');
                          width: 20px;
                        }
                    }
                }

                &__soc {
                  float: right;
                  width: calc(~'100% - 11.38888888888889%');

                    ul {
                      list-style-type: none;
                      text-align: right;
                      font-size: 0;
                      line-height: normal;

                        li {
                          display: inline-block;
                          margin-right: 5.066666666666667%; /*38/750*/

                            .ico {
                              width: 17px;
                              height: 17px;
                              fill: @socColor;
                              transition: all .5s ease;

                                &:hover {
                                  fill: @footerInputColor;
                                  transition: all .5s ease;
                                }
                            }

                            &:last-of-type {
                              margin-right: 0;
                            }
                        }
                    }
                }

                &__search768 {
                  position: absolute;
                  display: none;
                  z-index: 10;
                  right: 0;
                  top: 35px;
                  cursor: pointer;

                    svg {
                      width: 28px;
                      height: 28px;
                      fill: @orange;
                    }
                }

                &:after {
                  display: block;
                  content: '';
                  clear: both;
                }
            }

            &__input {
              margin-top: 8px;
              position: relative;

                input {

                    &[type=text] {
                      width: 100%;
                      height: 48px;
                      border: 1px @grayBorder solid;
                      box-sizing: border-box;
                      padding-left: 10px;
                      font: .875em @narrow;
                      color: @cityLink;
                      outline: none;
                    }
                    &[type=submit] {
                      width: 52px;
                      height: 48px;
                      position: absolute;
                      right: 0;
                      top: 0;
                      border: none;
                      cursor: pointer;
                      background: @orange url(../img/search.svg);
                      background-size: 26px;
                      background-repeat: no-repeat;
                      background-position: center;
                      outline: none;
                    }
                }
            }

        }

        &:after {
          display: block;
          width: 100%;
          clear: both;
        }
      .content {
        background-color: @white;
        padding: 19px 40px 30px;

          &__wrap-slide {
              position: relative;

              &__block-slider {
                width: calc(~'100% - 254px');
                overflow: hidden;
                float: left;
                height: 400px;
                position: relative;

                  &__text-slide {
                    width: 100%;
                    max-width: 515px;
                    background-color: rgba(255, 255, 255, .71);
                    padding: 25px 28px 30px;
                    position: absolute;
                    right: 34px;
                    bottom: 36px;
                    box-sizing: border-box;

                      .title-slide {
                        font: bold 2.625em/1.625em @narrow;
                        text-transform: uppercase;
                        color: @sloganColor;
                        margin-bottom: 11px;
                      }

                      .text-slide {
                        font: 1.125em/1.625em @ptreg;
                        color: @backLeftMenuColor;
                      }

                      .link-slide {
                        text-decoration: none;
                        background-color: @orange;
                        color: @white;
                        font: 1em/1.625em @narrow;
                        text-transform: uppercase;
                        padding: 10px 49px;
                        margin-top: 10px;
                        display: block;
                        max-width: 72px;
                        width: 100%;
                      }
                  }
              }

              &__block-banner {
                float: right;
                width: 240px;
                overflow: hidden;
                height: 400px;

                  img {
                    height: 100%;
                  }
              }

              &:after {
                clear: both;
                display: block;
                content: '';
              }

              .swiper-slide {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 400px;
                position: relative;

                  a {
                    display: block;
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                  }
              }

              .swiper-pagination {
                text-align: left;
                padding-left: 36px;
                bottom: 36px;
                font-size: 0;

                 span {
                    width: 14px;
                    height: 14px;
                    background-color: transparent;
                    border: 3px @white solid;
                    box-sizing: border-box;
                    opacity: 1;
                    margin-left: 0;
                    margin-right: 25px;

                    &.swiper-pagination-bullet-active {
                      background-color: #f9ef93;
                      border-color: #f9ef93;
                    }
                 }
              }

          }

          &__list-category {
            margin-top: 18px;
            font-size: 0;
            text-align: justify;
            position: relative;

              &:after {
                display: inline-block;
                content: '';
                width: 100%;
              }

              .one-square {
                .one-square();
              }

              .two-square {
                .two-square();
              }

              .four-square {
                .four-square();
              }

              .six-square {
                .six-square();

                .element-title {
                  text-align: left;
                }
              }


              &__element {
                  position: relative;
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;

                  a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: @white;
                  }

                  &.blue-theme {

                    .element-title {
                      background-color: @blueThemeColor;
                    }
                  }

                  &.orange-theme {

                    .element-title {
                      background-color: @orange;
                    }
                  }

                  &.light-blue-theme {

                    .element-title {
                      background-color: @lightBlueThemeColor;
                    }
                  }

                  &.afiche-thema {
                     background-color: @h1lineColor;
                     padding: 43px 0 30px 27px;
                     box-sizing: border-box;

                     .element-title {
                       font: bold 27px/27px @narrow;
                       color: @sloganColor;
                       text-transform: uppercase;
                       position: static;
                       padding: 0;
                     }

                     .list-afiche {

                       ul {
                         list-style-type: none;
                         font-size: 0;
                         margin-top: 47px;
                         text-align: justify;

                         &:after {
                           display: inline-block;
                           content: '';
                           width: 100%;
                         }

                         li {
                           display: inline-block;
                           width: 280px;
                           /* margin-right: 57px;*/
                           margin-bottom: 48px;

                           &:nth-of-type(2n) {
                             margin-right: 0;
                           }

                           &:after {
                             display: block;
                             content: '';
                             clear: both;
                           }

                           .image-slide {
                             width: 100px;
                             height: 100px;
                             background-color: #a6adb8;
                             float: left;
                             background-size: cover;
                             background-position: center;
                             background-repeat: no-repeat;

                             a {
                               display: block;
                               width: 100%;
                               height: 100%;
                             }
                           }

                           .text-slide {
                             font-size: 13px;
                             line-height: 26px;
                             font-family: @ptreg;
                             margin-left: 4%;
                             width: calc(~'100% - 125px');
                             float: left;

                             p {

                               &.title-category {
                                 color: @footerInputColor;
                                 margin-top: -9px;
                               }

                               &.date {
                                 color: @orange;
                                 font-size: 14px;
                               }

                               &.title-event {
                                 font: @narrow;
                                 font-weight: bold;
                                 color: @backLeftMenuColor;
                                 font-size: 16px;
                                 line-height: 20px;
                                 text-transform: uppercase;
                               }

                               &.slide-address {
                                 color: @footerInputColor;
                               }
                             }
                           }
                         }
                       }
                     }
                   }

                    &.afiche-thema-blue {
                      background-color: @sloganColor;
                      padding: 43px 0 30px 27px;
                      box-sizing: border-box;

                      .element-title {
                        font: bold 27px/27px @narrow;
                        color: @white;
                        text-transform: uppercase;
                        position: static;
                        padding: 0;
                      }

                      .list-afiche {

                        ul {
                          list-style-type: none;
                          font-size: 0;
                          margin-top: 47px;
                          text-align: justify;

                          &:after {
                            display: inline-block;
                            content: '';
                            width: 100%;
                          }

                          li {
                            display: inline-block;
                            width: 280px;
                            /* margin-right: 57px;*/
                            margin-bottom: 48px;

                            &:nth-of-type(2n) {
                              margin-right: 0;
                            }

                            &:after {
                              display: block;
                              content: '';
                              clear: both;
                            }

                            .image-slide {
                              width: 100px;
                              height: 100px;
                              background-color: #a6adb8;
                              float: left;
                              background-size: cover;
                              background-position: center;
                              background-repeat: no-repeat;

                              a {
                                display: block;
                                width: 100%;
                                height: 100%;
                              }
                            }

                            .text-slide {
                              font-size: 13px;
                              line-height: 26px;
                              font-family: @ptreg;
                              margin-left: 4%;
                              width: calc(~'100% - 125px');
                              float: left;

                              p {

                                &.title-category {
                                  color: @white;
                                  margin-top: -9px;
                                }

                                &.date {
                                  color: @dateColor;
                                  font-size: 14px;
                                }

                                &.title-event {
                                  font: @narrow;
                                  font-weight: bold;
                                  color: @white;
                                  font-size: 16px;
                                  line-height: 20px;
                                  text-transform: uppercase;
                                }

                                &.slide-address {
                                  color: @footerInputColor;
                                }
                              }
                            }
                          }
                        }
                      }
                    }

                  &.afiche-thema-2 {
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    position: relative;
                    font-size: 1.0625rem;

                      a {
                        text-decoration: none;
                        display: block;
                        width: 100%;
                        height: 100%;
                      }

                      .description {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        min-height: 145px;
                        background-color: @footerInputColor;
                        box-sizing: border-box;
                        padding: 29px 30px 21px 13px;

                          p {
                            text-align: left;

                              &.date-event {
                                font: 1.0625em/1.625em @ptreg;
                                color: @white;
                              }

                              &.title-event {
                                font: bold 1.5625em/1.625em @narrow;
                                color: @sloganColor;
                                text-transform: uppercase;
                              }

                              &.category-event {
                                font: .8125em/1.625em @ptreg;
                                color: @white;
                              }
                          }
                      }
                  }

                  &.slider-theme {
                    overflow: hidden;
                    position: relative;
                    font-size: medium;

                      .swiper-slide {
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        position: relative;

                          img {
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            height: 100%;
                          }
                      }

                      .swiper-pagination {
                        text-align: right;
                        bottom: 40px;

                          .swiper-pagination-bullet {
                            background-color: transparent;
                            border: 3px solid @white;
                            box-sizing: border-box;
                            height: 14px;
                            margin-left: 0;
                            margin-right: 25px;
                            opacity: 1;
                            width: 14px;

                              &:last-of-type {
                                margin-right: 33px;
                              }

                              &.swiper-pagination-bullet-active {
                                background-color: #f9ef93;
                                border-color: #f9ef93;
                              }
                          }
                      }
                  }

                  &.critic-theme {
                    background-color: @sloganColor;
                    padding: 44px 33px 30px 23px;
                    box-sizing: border-box;

                      .element-title {
                        font: bold 27px/27px @narrow;
                        color: @white;
                        text-transform: uppercase;
                        position: static;
                        padding: 0;
                        text-align: left;
                      }

                      .critic-list {
                        margin-top: 40px;
                        text-align: left;
                        font-size: medium;

                        .element-critic {
                          border-bottom: 1px rgba(114, 145, 164, .21) solid;
                          padding-bottom: 7px;
                          margin-bottom: 23px;

                          &:last-of-type {
                            margin-bottom: 0;
                            padding-bottom: 0;
                            border-bottom: none;
                          }

                          & > div {
                            display: inline-block;
                            vertical-align: top;
                          }

                          .image {
                            width: 65px;
                            height: 75px;
                            background-color: @socColor;
                            position: relative;
                            overflow: hidden;

                            img {
                              position: absolute;
                              left: 0;
                              right: 0;
                              top: 0;
                              bottom: 0;
                              width: 100%;
                              height: 100%;
                            }
                          }

                          .text {
                            padding-left: 6px;

                            p {

                              &.date-text {
                                color: @dateColor;
                                font: .875em/1.625em @ptreg;
                                margin-top: -4px;
                              }
                            }

                            .preview-text {
                              font-family: @ptreg;
                              color: @white;
                              margin-top: 6px;

                              p {
                                font-size:  1.0625em;
                                line-height: 1.3125em;
                              }
                            }
                          }

                        }

                      }
                  }

                  &.critic-theme-gray {
                    background-color: @h1lineColor;
                    padding: 44px 33px 30px 23px;
                    box-sizing: border-box;

                    .element-title {
                      font: bold 27px/27px @narrow;
                      color: @sloganColor;
                      text-transform: uppercase;
                      position: static;
                      padding: 0;
                      text-align: left;
                    }

                    .critic-list {
                      margin-top: 40px;
                      text-align: left;
                      font-size: medium;

                      .element-critic {
                        border-bottom: 1px rgba(114, 145, 164, .21) solid;
                        padding-bottom: 7px;
                        margin-bottom: 23px;

                        &:last-of-type {
                          margin-bottom: 0;
                          padding-bottom: 0;
                          border-bottom: none;
                        }

                        & > div {
                          display: inline-block;
                          vertical-align: top;
                        }

                        .image {
                          width: 65px;
                          height: 75px;
                          background-color: @socColor;
                          position: relative;
                          overflow: hidden;

                          img {
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                          }
                        }

                        .text {
                          padding-left: 6px;

                          p {

                            &.date-text {
                              color: @orange;
                              font: .875em/1.625em @ptreg;
                              margin-top: -4px;
                            }
                          }

                          .preview-text {
                            font-family: @ptreg;
                            color: @sloganColor;
                            margin-top: 6px;

                            p {
                              font-size:  1.0625em;
                              line-height: 1.3125em;
                            }
                          }
                        }

                      }

                    }
                  }

                  &.orange-theme-events {
                    background-color: @orange;
                    padding: 26px 20px 26px;
                    box-sizing: border-box;
                    font-size: medium;

                    .img {
                      width: 165px;
                      height: 165px;
                      overflow: hidden;
                      border-radius: 50%;
                      position: relative;
                      margin: 0 auto;
                      background-size: cover;
                      background-repeat: no-repeat;
                      background-position: center;
                    }

                    .description {
                      margin-top: 27px;
                      text-align: left;

                      p {

                        &.date-event {
                          font: .875em/1.625em @ptreg;
                          color: @white;
                        }

                        &.category-event {
                          font: .8125em @ptreg;
                          color: @dateColor;
                          margin-top: 7px;
                        }

                        &.title-event {
                          font: bold 1.1875em/1.6875em @narrow;
                          color: @white;
                          text-transform: uppercase;
                          margin-top: 37px;
                        }
                      }
                    }
                  }

                  &.gray-theme-events {
                    background-color: @h1lineColor;
                    padding: 26px 20px 26px;
                    box-sizing: border-box;
                    font-size: medium;

                    .img {
                      width: 165px;
                      height: 165px;
                      overflow: hidden;
                      border-radius: 50%;
                      position: relative;
                      margin: 0 auto;
                      background-size: cover;
                      background-repeat: no-repeat;
                      background-position: center;
                    }

                    .description {
                      margin-top: 27px;
                      text-align: left;

                      p {

                        &.date-event {
                          font: .875em/1.625em @ptreg;
                          color: @orange;
                        }

                        &.category-event {
                          font: .8125em @ptreg;
                          color: @footerInputColor;
                          margin-top: 7px;
                        }

                        &.title-event {
                          font: bold 1.1875em/1.6875em @narrow;
                          color: @sloganColor;
                          text-transform: uppercase;
                          margin-top: 37px;
                        }
                      }
                    }
                  }

                  &.green-theme-events {
                    background-color: @footerInputColor;
                    padding: 26px 20px 26px;
                    box-sizing: border-box;
                    font-size: medium;

                    .img {
                      width: 165px;
                      height: 165px;
                      overflow: hidden;
                      border-radius: 50%;
                      position: relative;
                      margin: 0 auto;
                      background-size: cover;
                      background-repeat: no-repeat;
                      background-position: center;
                    }

                    .description {
                      margin-top: 27px;
                      text-align: left;

                      p {

                        &.date-event {
                          font: .875em/1.625em @ptreg;
                          color: @white;
                        }

                        &.category-event {
                          font: .8125em @ptreg;
                          color: @white;
                          margin-top: 7px;
                        }

                        &.title-event {
                          font: bold 1.1875em/1.6875em @narrow;
                          color: @sloganColor;
                          text-transform: uppercase;
                          margin-top: 37px;
                        }
                      }
                    }
                  }

                  .element-title {
                    position: absolute;
                    right: 0;
                    bottom: 21px;
                    font: 16px/26px @narrow;
                    color: @white;
                    text-transform: uppercase;
                    padding: 8px 22px;
                    letter-spacing: .5px;
                    transition: left .5s ease, top .5s ease;
                    text-align: right;
                  }

                  &__preview {
                    position: absolute;
                    left: 0;
                    top: 0;
                    padding: 74px 12px 6px;
                    font: 13px/20px @ptreg;
                    background-color: rgba(0, 0, 0, .77);
                    opacity: 0;
                    box-sizing: border-box;
                    visibility: hidden;
                    height: 100%;
                    transition: opacity .5s ease 0s, visibility 0s linear .5s;
                    text-align: left;
                  }

                  &:hover .preview {
                    opacity: 1;
                    visibility: visible;
                    transition: opacity .5s ease;
                  }

                  &:not(.afiche-thema):not(.afiche-thema-2):not(.critic-theme):not(.critic-theme-gray):not(.afiche-thema-blue):hover .element-title {
                    background-color: transparent;
                    font: 13px/20px @ptreg;
                    top: 26px;
                    left: 12px;
                    right: auto;
                    z-index: 10;
                    transition: left .5s ease, top .5s ease;
                    padding: 0;
                  }
              }
          }

          &__index-description {
            margin-top: 66px;
            padding-left: 43px;
            margin-bottom: 70px;

              h1 {
                font: bold 2.4375em/1em @narrow;
                color: @sloganColor;
                position: relative;
                text-transform: uppercase;
                padding-left: 3px;

                  &:after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 89px;
                    height: 4px;
                    left: 0;
                    bottom: -20px;
                    background-color: @h1lineColor;
                  }
              }

              &__text {
                .column-count(2);
                font: 1.125em/1.875em @ptreg;
                color: @colorText;
                margin-top: 43px;

                  p {
                    margin-bottom: 19px;
                  }

                  h2 {
                    color: @orange;
                    font: bold 1.3125em/1.625em @narrow;
                    text-transform: uppercase;
                  }

                  ul {
                    list-style-type: none;
                    margin-bottom: 19px;

                      li {
                        padding-left: 40px;
                        position: relative;
                        line-height: 1.75em;

                          &:before {
                            position: absolute;
                            content: '';
                            width: 12px;
                            height: 14px;
                            display: block;
                            background-image: url(../img/arrow-li.png);
                            background-size: cover;
                            left: 0;
                            top: calc(50% - 14px);
                          }
                      }
                  }
              }
          }

          &__breadcrumbs {
            text-align: right;
            margin-top: -24px;
            font-size: 0;

              ul {

                  li {
                    display: inline-block;
                    vertical-align: middle;

                      a {
                        text-decoration: none;
                        font: 1rem/1.625rem @narrow;
                        color: @socColor;
                        text-transform: uppercase;

                          .crumb {
                            fill: @socColor;
                            width: 15px;
                            height: 13px;
                            margin: 0 6px 0 3px;
                            position: relative;
                            top: 2px;
                          }
                      }
                  }
              }
          }

          .gray-line {
            height: 4px;
            background-color: @h1lineColor;
            width: 100%;
          }

          &.catalog-content {

              .catalog-title {
                font: bold 2.4375em/1.05em @narrow;
                color: @sloganColor;
                text-transform: uppercase;
                margin-top: 26px;
              }
          }

          .catalog-content {

            &__filter {
              margin-top: 23px;
              
                &__wrapper-input {
                    font-size: 0;


                    & > ul {

                       & > li {
                          display: inline-block;
                          vertical-align: middle;
                          background-color: @backFilterColor;


                            &:last-of-type {
                              background-color: transparent;
                            }

                            .custom-select {
                              font: bold 16px/26px @narrow;
                              text-transform: uppercase;
                              color: @cityLink;
                            }

                            .wrap-label {
                              position: relative;
                              margin-left: 15px;
                              padding: 9px 0;

                                &:after {
                                  display: block;
                                  content: '';
                                  position: absolute;
                                  width: 1px;
                                  height: 28px;
                                  background-color: #fff;
                                  right: 0;
                                  top: 10px;
                                }

                                label {
                                  font: 17px/26px @narrow;
                                  color: @cityLink;
                                  margin-right: 10px;
                                  padding-left: 8px;
                                }

                                &.no-border {

                                    &:after {
                                      display: none;
                                    }
                                }
                            }

                            input[type=submit] {
                              border: none;
                              font: 16px/26px @narrow;
                              color: @white;
                              cursor: pointer;
                              background-color: @sloganColor;
                              text-transform: uppercase;
                              padding: 10px 25px;
                              margin-left: 20px;

                                &.reset {
                                  width: 52px;
                                  height: 46px;
                                  background-color: @footerInputColor;
                                  margin-left: 2px;
                                  background-image: url(../img/reset-button.png);
                                  background-size: 25px 27px;
                                  box-sizing: border-box;
                                  background-position: center;
                                  background-repeat: no-repeat;
                                }
                            }
                        }
                    }
                }
            }

            &__sort {
                margin-top: 12px;

                a {
                  text-decoration: none;
                  color: @footerInputColor;
                }

                .sort {
                  width: 33px;
                  height: 26px;
                  fill: @footerInputColor;
                  display: inline;
                  vertical-align: middle;
                }

                p {
                  vertical-align: middle;
                  display: inline;
                  font: 1em/1.625em @narrow;
                  color: @footerInputColor;
                  text-transform: uppercase;
                }
            }

            &__wrap-catalog {

                &:after {
                  display: block;
                  content: '';
                  clear: both;
                }

                &__list {
                  margin-top: 13px;
                  float: left;
                  max-width: 1085px;
                  width: 100%;
                  font-size: 0;

                  &__element {
                    width: 203px;
                    margin-bottom: 42px;
                    display: inline-block;
                    vertical-align: top;

                      &__img {
                        width: 100%;
                        height: 205px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                      }

                      .subcategory-title {
                        margin-top: 10px;

                         a {
                           font: .8125rem/1.0625rem @ptreg;
                           color: @socColor;
                         }
                      }

                      .institution-title {
                        text-transform: uppercase;
                        margin-top: 8px;
                        letter-spacing: -.2px;

                          a {
                            color: @backLeftMenuColor;
                            font: bold 1rem/1.25rem @narrow;
                          }
                      }

                      .institution-address {
                        background-image: url(../img/point.png);
                        background-size: 10px 13px;
                        background-repeat: no-repeat;
                        background-position: left center;
                        padding-left: 18px;
                        font: .8125rem/1.1875rem @ptreg;
                        color: @footerInputColor;
                        letter-spacing: .2px;
                        margin-top: 6px;
                      }

                      .institution-phone {
                        background-image: url(../img/phone.png);
                        background-size: 10px 13px;
                        background-repeat: no-repeat;
                        background-position: left center;
                        padding-left: 18px;
                        font: .8125rem/1.1875rem @ptreg;
                        color: @footerInputColor;
                      }

                      a {
                        text-decoration: none;
                        color: @orange;
                        font: .875rem/1.0625rem @narrow;
                        text-transform: uppercase;
                        display: block;
                        margin-top: 4px;
                        padding-left: 1px;
                        letter-spacing: .6px;
                        position: relative;
                        padding-right: 20px;

                          .link-arrow {
                            width: 20px;
                            height: 16px;
                            fill: @orange;
                            top: 4px;
                            right: -2px;
                            position: relative;
                          }

                      }
                  }

                  &:after {
                    display: block;
                    content: '';
                    clear: both;
                  }
                }

                &__banner {
                  width: 240px;
                  height: 400px;
                  float: right;
                }
            }
          }
      }
      .footer {

          &__slider {
            background-color: @footerSlider;
            padding: 0 40px;
            position: relative;

              .swiper-button-next,
              .swiper-container-rtl .swiper-button-prev {
                  background-image: url(../img/arrow-slider.png);
                  background-size: 20px 38px;
                  width: 20px;
                  height: 38px;
              }

              .swiper-button-prev,
              .swiper-container-rtl .swiper-button-next {
                background-image: url(../img/arrow-slider.png);
                transform: rotate(180deg);
                background-size: 20px 38px;
                width: 20px;
                height: 38px;
              }

              .swiper-wrapper {
                padding: 20px 0;

                  .swiper-slide {
                    font-size: 0;
                    position: relative;

                      &:after {
                        position: absolute;
                        display: block;
                        content: '';
                        width: 2px;
                        background-color: @white;
                        height: 250%;
                        right: 10px;
                        top: -20px;
                      }

                      .image-slide,
                      .text-slide {
                        display: inline-block;
                        vertical-align: top;
                      }

                      .image-slide {
                        width: 100px;
                        height: 100px;
                        background-color: @socColor;

                          a {
                            display: block;
                            width: 100%;
                            height: 100%;
                          }
                      }

                      .text-slide {
                        font-size: 13px;
                        line-height: 15px;
                        font-family: @ptreg;
                        margin-left: 4%;
                        width: calc(~'100% - 125px');

                          p {

                              &.title-category {
                                color: @footerInputColor;
                                margin-top: -9px;
                              }

                              &.date {
                                color: @orange;
                                font-size: 14px;
                              }

                              &.title-event {
                                font: @narrow;
                                font-weight: bold;
                                color: @backLeftMenuColor;
                                font-size: 16px;
                                line-height: 20px;
                                text-transform: uppercase;
                              }

                              &.slide-address {
                                color: @footerInputColor;
                              }
                          }
                      }

                  }

              }

              .swiper-button-prev {

              }

              &:after {
                content: '';
                display: block;
                clear: both;
              }
          }

          &__subscription {
            min-height: 105px;
            width: 100%;
            background-color: @footerSubscription;
            padding: 23px 40px 30px;
            box-sizing: border-box;

              form {
                font-size: 0;
                text-align: justify;

                &:after {
                  display: inline-block;
                  content: '';
                  width: 100%;
                }
              }

              &__block {
                display: inline-block;
                vertical-align: middle;
                position: relative;
                text-align: left;

                  input {

                      &[type=text] {
                        height: 48px;
                        border: none;
                        padding-left: 15px;
                        box-sizing: border-box;
                        font: 1rem/1.625rem @narrow;
                        color: @footerInputColor;
                        text-transform: uppercase;
                        text-overflow:ellipsis;
                        outline: none;

                          &.subscript-name {
                            width: 100%;
                          }

                          &.subscript-mail {
                            width: 100%;
                          }
                      }

                      &[type=submit] {
                        font: 1rem/1.625rem @narrow;
                        color: @white;
                        background-color: @orange;
                        height: 48px;
                        padding: 5px 6%;
                        border: none;
                        text-transform: uppercase;
                        letter-spacing: .5px;
                        outline: none;
                        position: absolute;
                        right: 0;
                        top: 0;
                      }
                  }

                  &:first-child {
                    font: bold 1.125rem/1.625rem @narrow;
                    color: #495d69;
                    text-transform: uppercase;
                    letter-spacing: -.3px;
                    text-align: left;
                  }

                  &:nth-of-type(2) {
                    width: 35%;
                  }

                  &:nth-of-type(3) {
                    width: 35%;
                  }
              }
          }

          &__links {
            background-color: #ced4de;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 560px;
            justify-content: space-between;
            align-content: space-between;
            padding: 30px 40px 40px;
            box-sizing: border-box;
            transition: height .5s ease;

              &__block {

                word-wrap: break-word;

                  &:last-of-type {
                    margin-bottom: 0;
                  }

                  p.title-category {
                    font: bold 1.125em/1.625em @narrow;
                    color: @cityLink;
                    text-transform: uppercase;
                  }

                  & > ul {
                    margin-top: 20px;

                      li {
                        list-style-type: none;

                          a {
                            font: .875em/1.5em @ptreg;
                            color: @backLeftMenuColor;
                            text-decoration: none;
                          }
                      }
                  }

                  &__contacts {
                    margin-top: 20px;

                      p {
                        font: 1em/1.625em @ptreg;
                        color: @backLeftMenuColor;

                         span {
                           color: @backLeftMenuColor;
                           font-size: 1.3125em;
                           font-family: @narrow;
                         }
                      }
                  }
              }
          }

          &__copyright {
            background-color: @footerInputColor;
            height: 56px;
          }
      }
    }
}
