// fixed bottom menu portfolio
.portfolio-links-p () {
  display: inline-block;
  vertical-align: middle;
  font: .8125rem @ubuntu;
  color: rgba(255, 255, 255, .7);
  text-transform: uppercase;
  word-wrap: break-word;
  width: 80%;
}

.one-square(@size: 14.3vw) {
  width: @size;
  height: @size;
  background-color: @socColor;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}
.two-square(@size: 14.3vw) {
  height: @size*2;
  width: @size;
  background-color: @socColor;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}
.four-square(@size: 14.3vw) {
  height: @size*2;
  width: @size*2;
  background-color: @socColor;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}
.six-square(@size: 14.3vw) {
  height: @size*2;
  width: @size*3;
  background-color: @socColor;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}
.column-count(@count,@gap: 2.5em) {
  column-count: @count;
  -moz-column-count: @count;
  -webkit-column-count: @count;
  column-gap: @gap;
  -moz-column-gap: @gap;
  -moz-column-gap: @gap;
}
.height(@size: 400px;){
  height: @size;
}