// fixed bottom menu portfolio
.portfolio-links-p () {
  display: inline-block;
  vertical-align: middle;
  font: .8125rem @ubuntu;
  color: rgba(255, 255, 255, .7);
  text-transform: uppercase;
  word-wrap: break-word;
  width: 80%;
}

.one-square(@size: 16%) {
  width: @size;
  min-width: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 0 .33% 10px;

    img {
      width: 100%;
      height: auto;
    }
}
.two-square(@size: 16%) {
  min-width: 200px;
  width: @size;
  margin: 0 .33% 10px;
  display: inline-block;
  vertical-align: top;

    img {
      width: 100% !important;
      height: auto;
    }
}
.four-square(@size: 16.325%) {
  width: @size*2;
  min-width: 400px;
  margin: 0 .33% 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;

    img {
      width: 100%;
      height: auto;
    }

    .element-title {
      bottom: calc(~'2.2% + 21px');
    }
}
.six-square(@size: 49.35%) {
  width: @size;
  margin: 0 .33% 10px;
  min-width: 600px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;

    img {
      width: 100%;
      height: auto;
    }
}
.column-count(@count,@gap: 2.5em) {
  column-count: @count;
  -moz-column-count: @count;
  -webkit-column-count: @count;
  column-gap: @gap;
  -moz-column-gap: @gap;
  -moz-column-gap: @gap;
}
.height(@size: 400px;){
  height: @size;
}
/* Стили тем */
  .blue-theme() {
    background-color: @blueThemeColor;
  }
  .orange-theme() {
    background-color: @orange;
  }
  .light-blue-theme() {
    background-color: @lightBlueThemeColor;
  }
/* Афиша на 3 квадрата в длину*/
.afiche-theme() {
  background-color: @h1lineColor;
  padding: 43px 0 30px 27px;
  box-sizing: border-box;

  .element-title {
    font: bold 1.6875rem/1.6875rem @narrow;
    color: @sloganColor;
    text-transform: uppercase;
    position: static;
    padding: 0;
  }

  .list-afiche {

    ul {
      list-style-type: none;
      font-size: 0;
      margin-top: 47px;
      text-align: justify;

      &:after {
        display: inline-block;
        content: '';
        width: 100%;
      }

      li {
        display: inline-block;
        width: 50%;
        margin-top: 28px;


        &:nth-of-type(1),
        &:nth-of-type(2) {
          margin-top: 0;
        }

        &:after {
          display: block;
          content: '';
          clear: both;
        }

        .image-slide {
          width: 30%;
          height: 127px;
          float: left;

          a {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        .text-slide {
          font-size: .8125rem;
          line-height: 1.625rem;
          font-family: @ptreg;
          margin-left: 4%;
          width: 60%;
          float: left;

          p {
            text-align: left;

            &.title-category {
              margin-top: -9px;

              a {
                color: @footerInputColor;
                text-decoration: none;
                transition: color .5s ease;

                &:hover {
                  color: @sloganColor;
                  transition: color .5s ease;
                }
              }
            }

            &.date {
              color: @orange;
              font-size: .875rem;
            }

            &.title-event {
              font-family: @narrow;
              font-weight: bold;
              font-size: 1.125rem;
              line-height: 1.4375rem;
              text-transform: uppercase;
              text-align: left;

              a {
                color: @backLeftMenuColor;
                text-decoration: none;
                transition: color .5s ease;

                &:hover {
                  color: @orange;
                  transition: color .5s ease;
                }
              }
            }

            &.slide-address {
              color: @footerInputColor;
            }
          }
        }
      }
    }
  }
}
.afiche-theme-blue() {
  background-color: @sloganColor;
  padding: 43px 0 30px 27px;
  box-sizing: border-box;

  .element-title {
    font: bold 1.6875rem/1.6875rem @narrow;
    color: @white;
    text-transform: uppercase;
    position: static;
    padding: 0;
  }

  .list-afiche {

    ul {
      list-style-type: none;
      font-size: 0;
      margin-top: 40px;
      text-align: justify;

      &:after {
        display: inline-block;
        content: '';
        width: 100%;
      }

      li {
        display: inline-block;
        width: 50%;
        margin-top: 28px;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          margin-top: 0;
        }

        &:after {
          display: block;
          content: '';
          clear: both;
        }

        .image-slide {
          width: 30%;
          height: 127px;
          float: left;

          a {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        .text-slide {
          font-size: .8125rem;
          line-height: 1.625rem;
          font-family: @ptreg;
          margin-left: 4%;
          width: 60%;
          float: left;

          p {

            &.title-category {

              margin-top: -9px;

              a {
                text-decoration: none;
                color: @white;
                transition: color .5s ease;

                &:hover {
                  color: @footerInputColor;
                  transition: color .5s ease;
                }
              }
            }

            &.date {
              color: @dateColor;
              font-size: .875rem;
            }

            &.title-event {
              font-family: @narrow;
              font-weight: bold;
              color: @white;
              font-size: 1rem;
              line-height: 1.25rem;
              text-transform: uppercase;
              text-align: left;

              a {
                text-decoration: none;
                color: @white;
                transition: color .5s ease;

                &:hover {
                  color: @dateColor;
                  transition: color .5s ease;
                }
              }
            }

            &.slide-address {
              color: @footerInputColor;
            }
          }
        }
      }
    }
  }
}
.afiche-theme-orange() {
  background-color: @orange;
  padding: 43px 0 30px 27px;
  box-sizing: border-box;

  .element-title {
    font: bold 1.6875rem/1.6875rem @narrow;
    color: @dateColor;
    text-transform: uppercase;
    position: static;
    padding: 0;
  }

  .list-afiche {

    ul {
      list-style-type: none;
      font-size: 0;
      margin-top: 40px;
      text-align: justify;

      &:after {
        display: inline-block;
        content: '';
        width: 100%;
      }

      li {
        display: inline-block;
        width: 50%;
        margin-top: 28px;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          margin-top: 0;
        }

        &:after {
          display: block;
          content: '';
          clear: both;
        }

        .image-slide {
          width: 30%;
          height: 127px;
          float: left;

          a {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        .text-slide {
          font-size: .8125rem;
          line-height: 1.625rem;
          font-family: @ptreg;
          margin-left: 4%;
          width: 60%;
          float: left;

          p {

            &.title-category {

              margin-top: -9px;

              a {
                text-decoration: none;
                color: @white;
                transition: color .5s ease;

                &:hover {
                  color: @sloganColor;
                  transition: color .5s ease;
                }
              }
            }

            &.date {
              color: @dateColor;
              font-size: .875rem;
            }

            &.title-event {
              font-family: @narrow;
              font-weight: bold;
              color: @white;
              font-size: 1rem;
              line-height: 1.25rem;
              text-transform: uppercase;
              text-align: left;

              a {
                text-decoration: none;
                color: @white;
                transition: color .5s ease;

                &:hover {
                  color: @dateColor;
                  transition: color .5s ease;
                }
              }
            }

            &.slide-address {
              color: @white;
            }
          }
        }
      }
    }
  }
}
.afiche-theme-green() {
  background-color: @footerInputColor;
  padding: 43px 0 30px 27px;
  box-sizing: border-box;

  .element-title {
    font: bold 1.6875rem/1.6875rem @narrow;
    color: @white;
    text-transform: uppercase;
    position: static;
    padding: 0;
  }

  .list-afiche {

    ul {
      list-style-type: none;
      font-size: 0;
      margin-top: 40px;
      text-align: justify;

      &:after {
        display: inline-block;
        content: '';
        width: 100%;
      }

      li {
        display: inline-block;
        width: 50%;
        margin-top: 28px;

        &:nth-of-type(1),
        &:nth-of-type(2) {
          margin-top: 0;
        }

        &:after {
          display: block;
          content: '';
          clear: both;
        }

        .image-slide {
          width: 30%;
          height: 127px;
          float: left;

          a {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        .text-slide {
          font-size: .8125rem;
          line-height: 1.625rem;
          font-family: @ptreg;
          margin-left: 4%;
          width: 60%;
          float: left;

          p {

            &.title-category {

              margin-top: -9px;

              a {
                text-decoration: none;
                color: @white;
                transition: color .5s ease;

                &:hover {
                  color: @sloganColor;
                  transition: color .5s ease;
                }
              }
            }

            &.date {
              color: @white;
              font-size: .875rem;
            }

            &.title-event {
              font-family: @narrow;
              font-weight: bold;
              color: @white;
              font-size: 1rem;
              line-height: 1.25rem;
              text-transform: uppercase;
              text-align: left;

              a {
                text-decoration: none;
                color: @sloganColor;
                transition: color .5s ease;

                &:hover {
                  color: @white;
                  transition: color .5s ease;
                }
              }
            }

            &.slide-address {
              color: @dateColor;
            }
          }
        }
      }
    }
  }
}
/**/

  .slider-theme() {
    overflow: hidden;
    position: relative;
    font-size: medium;

    .swiper-slide {
      position: relative;

      img {
        width: 100%;
        height: auto;
      }
    }

    .swiper-pagination-catalog {
      text-align: right;
      bottom: 19px;
      position: absolute;
      z-index: 10;
      right: 34px;

      .swiper-pagination-bullet {
        background-color: transparent;
        border: 3px solid @white;
        box-sizing: border-box;
        height: 14px;
        margin-left: 0;
        margin-right: 25px;
        opacity: 1;
        width: 14px;

        &:last-of-type {
         /* margin-right: 33px;*/
          margin-right: 0;
        }

        &.swiper-pagination-bullet-active {
          background-color: #f9ef93;
          border-color: #f9ef93;
        }
      }
    }
  }
/*Афиша темы*/
.afiche-theme-2() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  font-size: 1.0625rem;

  a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }

  .description {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 145px;
    background-color: @footerInputColor;
    box-sizing: border-box;
    padding: 29px 30px 21px 13px;

    p {
      text-align: left;

      &.date-event {
        font: 1.0625em/1.625em @ptreg;
        color: @white;
      }

      &.title-event {
        font: bold 1.75em/1.625em @narrow;
        color: @sloganColor;
        text-transform: uppercase;
        transition: color .5s ease;
        text-align: left;

          &:hover {
            color: @white;
            transition: color .5s ease;
          }
      }

      &.category-event {
        font: .8125em/1.625em @ptreg;

          a {
            color: @white;
            transition: color .5s ease;

              &:hover {
                color: @sloganColor;
                transition: color .5s ease;
              }
          }
      }
    }
  }
}
.afiche-theme-2-orange() {
  position: relative;
  font-size: 1.0625rem;

  & > a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }

  .description {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* min-height: 145px;*/
    height: 35%;
    background-color: @orange;
    box-sizing: border-box;
    padding: 29px 30px 21px 13px;

    p {
      text-align: left;

      &.date-event {
        font: 1.0625em/1.625em @ptreg;
        color: @dateColor;
      }

      &.title-event {
        font: bold 1.75em/1.625em @narrow;
        color: @white;
        text-transform: uppercase;
        transition: color .5s ease;
        text-align: left;

        &:hover {
          color: @dateColor;
          transition: color .5s ease;
        }
      }

      &.category-event {
        font: .8125em/1.625em @ptreg;

          a {
            color: @white;
            transition: color .5s ease;

              &:hover {
                color: @sloganColor;
                transition: color .5s ease;
              }
          }
      }
    }
  }
}
.afiche-theme-2-blue() {
  position: relative;
  font-size: 1.0625rem;

  & > a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }

  .description {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    background-color: @sloganColor;
    box-sizing: border-box;
    padding: 29px 30px 21px 13px;

    p {
      text-align: left;

      &.date-event {
        font: 1.0625em/1.625em @ptreg;
        color: @dateColor;
      }

      &.title-event {
        font: bold 1.75em/1.625em @narrow;
        color: @white;
        text-transform: uppercase;
        transition: color .5s ease;
        text-align: left;

        &:hover {
          color: @dateColor;
          transition: color .5s ease;
        }
      }

      &.category-event {
        font: .8125em/1.625em @ptreg;

          a {
            color: @white;
            transition: color .5s ease;

              &:hover {
                color: @footerInputColor;
                transition: color .5s ease;
              }
          }
      }
    }
  }
}
.afiche-theme-2-gray() {
  position: relative;
  font-size: 1.0625rem;

  & > a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
  }

  .description {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    background-color: @h1lineColor;
    box-sizing: border-box;
    padding: 29px 30px 21px 13px;

    p {
      text-align: left;

      &.date-event {
        font: 1.0625em/1.625em @ptreg;
        color: @orange;
      }

      &.title-event {
        font: bold 1.75em/1.625em @narrow;
        color: @sloganColor;
        text-transform: uppercase;
        transition: color .5s ease;
        text-align: left;

        &:hover {
          color: @orange;
          transition: color .5s ease;
        }
      }

      &.category-event {
        font: .8125em/1.625em @ptreg;

          a {
            color: @footerInputColor;
            transition: color .5s ease;

              &:hover {
                color: @sloganColor;
                transition: color .5s ease;
              }
          }
      }
    }
  }
}
/**/
/*Два в длину два в высоту со списком, каждый элемент списка во всю длину*/
.critic-theme() {
  background-color: @sloganColor;
  padding: 44px 33px 30px 30px;
  box-sizing: border-box;

  .element-title {
    font: bold 1.6875rem/1.6875rem @narrow;
    color: @white;
    text-transform: uppercase;
    position: static;
    padding: 0;
    text-align: left;
  }

  .critic-list {
    margin-top: 22px;
    text-align: left;
    font-size: medium;

    .element-critic {
      border-bottom: 1px rgba(114, 145, 164, .21) solid;
      padding-bottom: 7px;
      margin-bottom: 11px;

      &:last-of-type {
        border-bottom: none;
      }

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      & > div {
        display: inline-block;
        vertical-align: top;
      }

      .image {
        width: 17%;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }

      .text {
        padding-left: 6px;

        p {

          &.date-text {
            color: @dateColor;
            font: .875em/1.625em @ptreg;
            margin-top: -4px;
          }
        }

        .preview-text {
          font-family: @ptreg;
          color: @white;
          margin-top: 6px;

          p {
            font-size:  1.1875em;
            line-height: 1.5em;

              a {
                color: @white;
                transition: color .5s ease;

                &:hover {
                  color: @dateColor;
                  transition: color .5s ease;
                }
              }
          }
        }
      }

    }

  }
}
.critic-theme-gray() {
  background-color: @h1lineColor;
  padding: 44px 33px 30px 30px;
  box-sizing: border-box;

  .element-title {
    font: bold 1.6875rem/1.6875rem @narrow;
    color: @sloganColor;
    text-transform: uppercase;
    position: static;
    padding: 0;
    text-align: left;
  }

  .critic-list {
    margin-top: 22px;
    text-align: left;
    font-size: medium;

    .element-critic {
      border-bottom: 1px rgba(114, 145, 164, .21) solid;
      padding-bottom: 7px;
      margin-bottom: 11px;

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      & > div {
        display: inline-block;
        vertical-align: top;
      }

      .image {
        width: 17%;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }

      .text {
        padding-left: 6px;

        p {

          &.date-text {
            color: @orange;
            font: .875em/1.625em @ptreg;
            margin-top: -4px;
          }
        }

        .preview-text {
          font-family: @ptreg;
          margin-top: 6px;

          p {
            font-size:  1.0625em;
            line-height: 1.3125em;

            a {
              color: @sloganColor;
              transition: color .5s ease;

              &:hover {
                color: @orange;
                transition: color .5s ease;
              }
            }
          }
        }
      }

    }

  }
}
.critic-theme-green() {
  background-color: @footerInputColor;
  padding: 44px 33px 30px 30px;
  box-sizing: border-box;

  .element-title {
    font: bold 1.6875rem/1.6875rem @narrow;
    color: @white;
    text-transform: uppercase;
    position: static;
    padding: 0;
    text-align: left;
  }

  .critic-list {
    margin-top: 22px;
    text-align: left;
    font-size: medium;

    .element-critic {
      border-bottom: 1px rgba(114, 145, 164, .21) solid;
      padding-bottom: 7px;
      margin-bottom: 11px;

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      & > div {
        display: inline-block;
        vertical-align: top;
      }

      .image {
        width: 17%;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }

      .text {
        padding-left: 6px;

        p {

          &.date-text {
            color: @white;
            font: .875em/1.625em @ptreg;
            margin-top: -4px;
          }
        }

        .preview-text {
          font-family: @ptreg;
          margin-top: 6px;

          p {
            font-size:  1.0625em;
            line-height: 1.3125em;

            a {
              color: @sloganColor;
              transition: color .5s ease;

                &:hover {
                  color: @white;
                  transition: color .5s ease;
                }
            }
          }
        }
      }

    }

  }
}
.critic-theme-orange() {
  background-color: @orange;
  padding: 44px 33px 30px 30px;
  box-sizing: border-box;

  .element-title {
    font: bold 1.6875rem/1.6875rem @narrow;
    color: @dateColor;
    text-transform: uppercase;
    position: static;
    padding: 0;
    text-align: left;
  }

  .critic-list {
    margin-top: 22px;
    text-align: left;
    font-size: medium;

    .element-critic {
      border-bottom: 1px rgba(114, 145, 164, .21) solid;
      padding-bottom: 7px;
      margin-bottom: 11px;

      &:last-of-type {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      & > div {
        display: inline-block;
        vertical-align: top;
      }

      .image {
        width: 17%;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }

      .text {
        padding-left: 6px;

        p {

          &.date-text {
            color: @dateColor;
            font: .875em/1.625em @ptreg;
            margin-top: -4px;
          }
        }

        .preview-text {
          font-family: @ptreg;
          margin-top: 6px;

          p {
            font-size:  1.0625em;
            line-height: 1.3125em;

            a {
              color: @white;
              transition: color .5s ease;

                &:hover {
                  color: @dateColor;
                  transition: color .5s ease;
                }
            }
          }
        }
      }

    }

  }
}
/**/
/* Два квадрата в высоту темы*/
.orange-theme-events() {
  background-color: @orange;
  padding: 26px 30px 22px 26px;
  box-sizing: border-box;
  font-size: medium;
  position: relative;

  &:after {
    display: block;
    height: 100%;
    width: 100%;
    top: 0;background-color: red;
  }

  .img {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
  }

  .description {
    margin-top: 27px;
    text-align: left;

    p {

      &.date-event {
        font: .875em/1.625em @ptreg;
        color: @white;
      }

      &.category-event {
        font: .8125em @ptreg;

        margin-top: 7px;

        a {
          color: @dateColor;
          text-decoration: none;
          transition: color .5s ease;

            &:hover {
              color: @sloganColor;
              transition: color .5s ease;
            }
        }
      }

      &.title-event {
        /*font: bold 1.375em/1.25em @narrow;*/
        font: bold 1.3em/1.25em @narrow;
        text-transform: uppercase;
        margin-top: 16px;
        text-align: left;

        a {
          color: @white;
          transition: color .5s ease;

            &:hover {
              color: @dateColor;
              transition: color .5s ease;
            }
        }
      }
    }
  }
}
.gray-theme-events() {
  background-color: @h1lineColor;
  padding: 26px 30px 26px;
  box-sizing: border-box;
  font-size: medium;

  .img {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .description {
    margin-top: 27px;
    text-align: left;

    p {

      &.date-event {
        font: .875em/1.625em @ptreg;
        color: @orange;
      }

      &.category-event {
        font: .8125em @ptreg;
        margin-top: 7px;

        a {
          color: @footerInputColor;
          transition: color .5s ease;

            &:hover {
              color: @sloganColor;
              transition: color .5s ease;
            }
        }
      }

      &.title-event {
        /*font: bold 1.375em/1.25em @narrow;*/
        font: bold 1.3em/1.25em @narrow;
        text-transform: uppercase;
        margin-top: 16px;
        text-align: left;

        a {
          color: @sloganColor;
          transition: color .5s ease;

            &:hover {
              color: @orange;
              transition: color .5s ease;
            }
        }
      }
    }
  }
}
.green-theme-events() {
  background-color: @footerInputColor;
  padding: 26px 30px 26px;
  box-sizing: border-box;
  font-size: medium;

  .img {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .description {
    margin-top: 27px;
    text-align: left;

    p {

      &.date-event {
        font: .875em/1.625em @ptreg;
        color: @white;
      }

      &.category-event {
        font: .8125em @ptreg;
        margin-top: 7px;

          a {
            color: @white;
            transition: color .5s ease;

            &:hover {
              color: @sloganColor;
              transition: color .5s ease;
            }
          }
      }

      &.title-event {
        /*font: bold 1.375em/1.25em @narrow;*/
        font: bold 1.3em/1.25em @narrow;
        text-transform: uppercase;
        margin-top: 16px;
        text-align: left;

        a {
          color: @sloganColor;
          transition: color .5s ease;

            &:hover {
              color: @white;
              transition: color .5s ease;
            }
        }
      }
    }
  }
}
.blue-theme-events() {
  background-color: @sloganColor;
  padding: 26px 30px 26px;
  box-sizing: border-box;
  font-size: medium;

  .img {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .description {
    margin-top: 27px;
    text-align: left;

    p {

      &.date-event {
        font: .875em/1.625em @ptreg;
        color: @dateColor;
      }

      &.category-event {
        font: .8125em @ptreg;
        margin-top: 7px;

         a {
           color: @white;
           transition: color .5s ease;

            &:hover {
              color: @footerInputColor;
              transition: color .5s ease;
            }
         }
      }

      &.title-event {
        /*font: bold 1.375em/1.25em @narrow;*/
        font: bold 1.3em/1.25em @narrow;
        text-transform: uppercase;
        margin-top: 16px;
        text-align: left;

          a {
            color: @white;
            transition: color .5s ease;

              &:hover {
                color: @dateColor;
                transition: color .5s ease;
              }
          }
      }
    }
  }
}
/**/
/**/
.title-page() {

  .catalog-title {
    font: bold 2.4375em/1.05em @narrow;
    color: @sloganColor;
    text-transform: uppercase;
    margin-top: 26px;
    letter-spacing: -.4px;
  }
}
.one-square-category(@width: 19.5%){
  width: @width;
  min-width: 200px;
  overflow: hidden;
  vertical-align: top;
  height: 200px;

    img {
      width: 100%;
      height: auto;
    }
}
.banner() {
  transition: top .5s ease;
}