<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=2.0"/>
    <link rel="stylesheet" href="../css/normalize.css"/>
    <link rel="stylesheet" href="../css/libs/swiper/swiper.min.css"/>
    <link rel="stylesheet" href="../css/libs/formstyler/jquery.formstyler.css"/>
    <link rel="stylesheet" href="../css/libs/datedropper/datedropper.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <script src="../js/modernizr.custom.js"></script>
</head>