<div class="popup-back js-back"></div>
<div class="popup-select-city js-popup js-city">
    <p class="title-popup">Ваш город?</p>
    <img class="close-popup js-close-popup" src="../img/close.png" alt=""/>
    <div class="popup-select-city__wrap-select">
        <form action="" method="post">
            <select name="" id="" class="select-city js-custom">
                <option value="Москва">Москва</option>
                <option value="Тамбов">Тамбов</option>
                <option value="Кирсанов">Кирсанов</option>
                <option value="Иваново">Иваново</option>
                <option value="Воронеж">Воронеж</option>
            </select>
            <input type="submit" value="Выбрать"/>
        </form>
    </div>
</div>