//= blocks/head.html
<body>

//= blocks/svg.html
<div class="wrapper">
    <!-- Левое меню -->
    <div class="left-menu js-left-menu-hover close">
        <div class="left-menu__burger js-burger burger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="left-menu__submenu js-left-submenu">
            <ul>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="sport">
                                <use xlink:href="#sport" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Физическая культура</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="food">
                                <use xlink:href="#food" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Питание</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="affiche">
                                <use xlink:href="#affiche" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Афиша</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="recreation">
                                <use xlink:href="#recreation" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Отдых и туризм</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="attraction">
                                <use xlink:href="#attraction" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Достопримечательности</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="entertainment">
                                <use xlink:href="#entertainment" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Развлечения</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="health">
                                <use xlink:href="#health" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Здоровье и красота</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="business">
                                <use xlink:href="#business" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Активный бизнес</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="smile">
                                <use xlink:href="#smile" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Твой позитив </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Правый блок -->
    <div class="right-block js-right-block">
        <!-- Шапка сайта -->
        <header>
            <div class="right-block__logo">
                <a href="javascript:undefined">
                    <img src="../img/logo.png" alt=""/>
                </a>
            </div>
            <div class="right-block__slogan">
                <p>успех на стороне активных!</p>
            </div>
            <div class="right-block__search">
                <div class="right-block__search__top">
                    <div class="right-block__search__top__city">
                        <a class="city-link js-city-link" href="javascript:undefined">
                            Тамбов
                            <svg class="arrow-city">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </a>
                        <div class="right-block__search__top__city__list">

                        </div>
                    </div>
                    <div class="right-block__search__top__soc">
                        <ul>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico">
                                        <use xlink:href="#facebook" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico">
                                        <use xlink:href="#vk" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico">
                                        <use xlink:href="#twitter" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico"> <use xlink:href="#ok" /> </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-block__search__top__search768 js-search768">
                        <svg>
                            <use xlink:href="#search" />
                        </svg>
                    </div>
                    <div class="right-block__search__top__burger460 js-burger460">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="right-block__search__input js-search-input">
                    <form action="">
                        <input type="text" name=""/>
                        <input type="submit" value=""/>
                    </form>
                </div>
            </div>
        </header>

        <!-- Контент -->
        <div class="content js-content article-catalog">
            <div class="gray-line"></div>
            <p class="catalog-title">Ресторанная критика</p>
            <div class="content__breadcrumbs">
                <ul>
                    <li>
                        <a href="javascript:undefined">
                            Главная
                            <svg class="crumb">
                                <use xlink:href="#breadcrumb" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:undefined">
                            Каталог статей
                            <svg class="crumb">
                                <use xlink:href="#breadcrumb" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:undefined">
                            Питание
                            <svg class="crumb">
                                <use xlink:href="#breadcrumb" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <span>Ресторанная критика</span>
                    </li>
                </ul>
            </div>
            <div class="article-catalog__wrap-list-banner js-wrap-banOrMap">
                <div class="article-catalog__inner-text">
                    <div class="article-catalog__wrapper">
                        <div class="article-catalog__wrapper__element">
                            <div class="article-img" style="background-image: url(../img/article.jpg)"></div>
                            <div class="article-text">
                                <p class="category-title">Питание</p>
                                <p class="article-date">2.03.2016</p>
                                <p class="article-title">Шеф-повар сделал акцент на итальянских блюдах</p>
                                <div class="article-text__preview">
                                    <p>И культура гастрономии, и интеллигентность в подачах, и честность к гостю. Когда кухня тянет общую оценку. Браво, Дон Джулио и Марко Янкетта.</p>
                                </div>
                            </div>
                        </div>
                        <div class="article-catalog__wrapper__element">
                            <div class="article-text">
                                <p class="category-title">Питание</p>
                                <p class="article-date">2.03.2016</p>
                                <p class="article-title">Шеф-повар сделал акцент на итальянских блюдах</p>
                                <div class="article-text__preview">
                                    <p>И культура гастрономии, и интеллигентность в подачах, и честность к гостю. Когда кухня тянет общую оценку. Браво, Дон Джулио и Марко Янкетта.</p>
                                </div>
                            </div>
                        </div>
                        <div class="article-catalog__wrapper__element">
                            <div class="article-img" style="background-image: url(../img/article.jpg)"></div>
                            <div class="article-text">
                                <p class="category-title">Питание</p>
                                <p class="article-date">2.03.2016</p>
                                <p class="article-title">Шеф-повар сделал акцент на итальянских блюдах</p>
                                <div class="article-text__preview">
                                    <p>И культура гастрономии, и интеллигентность в подачах, и честность к гостю. Когда кухня тянет общую оценку. Браво, Дон Джулио и Марко Янкетта.</p>
                                </div>
                            </div>
                        </div>
                        <div class="article-catalog__wrapper__element">
                            <div class="article-img" style="background-image: url(../img/article.jpg)"></div>
                            <div class="article-text">
                                <p class="category-title">Питание</p>
                                <p class="article-date">2.03.2016</p>
                                <p class="article-title">Шеф-повар сделал акцент на итальянских блюдах</p>
                                <div class="article-text__preview">
                                    <p>И культура гастрономии, и интеллигентность в подачах, и честность к гостю. Когда кухня тянет общую оценку. Браво, Дон Джулио и Марко Янкетта.</p>
                                </div>
                            </div>
                        </div>
                        <div class="article-catalog__wrapper__element">
                            <div class="article-img" style="background-image: url(../img/article.jpg)"></div>
                            <div class="article-text">
                                <p class="category-title">Питание</p>
                                <p class="article-date">2.03.2016</p>
                                <p class="article-title">Шеф-повар сделал акцент на итальянских блюдах</p>
                                <div class="article-text__preview">
                                    <p>И культура гастрономии, и интеллигентность в подачах, и честность к гостю. Когда кухня тянет общую оценку. Браво, Дон Джулио и Марко Янкетта.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__index-description">
                        <h1>Заголовок для раздела</h1>
                        <div class="content__index-description__text">
                            <p>Рекламное сообщество не критично. Узнавание бренда, следовательно, концентрирует экспериментальный баинг и селлинг. Искусство медиапланирования слабо индуцирует нестандартный подход, опираясь на опыт западных коллег. </p>
                            <h2>подзаголовок</h2>
                            <p>Точечное воздействие консолидирует типичный имидж предприятия. </p>
                            <ul>
                                <li>Точечное воздействие консолидирует типичный имидж предприятия. </li>
                                <li>Создание приверженного покупателя тормозит креативный сегмент рынка. </li>
                                <li>Представляется логичным, что инструмент маркетинга ригиден как никогда.</li>
                                <li>Визуализация концепии подсознательно детерминирует общественный рекламный бриф.</li>
                            </ul>
                            <p>Визуализация концепии подсознательно детерминирует общественный рекламный бриф.</p>
                            <p>Привлечение аудитории без оглядки на авторитеты сознательно индуцирует повседневный медиабизнес. Более того, <span>бюджет на размещение</span> спонтанно позиционирует ролевой SWOT-анализ, оптимизируя бюджеты.</p>
                            <h2>подзаголовок</h2>
                            <p>Как отмечает Майкл Мескон, управление брендом раскручивает институциональный формирование имиджа. Ценовая стратегия отталкивает эмпирический сегмент рынка, осознав маркетинг как часть производства. Служба маркетинга компании, в рамках сегодняшних воззрений, подсознательно усиливает фирменный медийный канал, используя опыт предыдущих кампаний. </p>
                        </div>
                    </div>
                </div>
                <div class="article-catalog__banner-block js-banner">
                    <img src="../img/banner-mini-2.jpg" alt=""/>
                </div>
            </div>
        </div>
        <!-- -->
        //= blocks/footer.html
    </div>
    //= blocks/popup.html
</div>

//= blocks/scripts.html
</body>
</html>