//= blocks/head.html
<body>

//= blocks/svg.html
<div class="wrapper">
    <!-- Левое меню -->
    <div class="left-menu js-left-menu-hover close">
        <div class="left-menu__burger js-burger burger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="left-menu__submenu js-left-submenu">
            <ul>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="sport">
                                <use xlink:href="#sport" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Физическая культура</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="food">
                                <use xlink:href="#food" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Питание</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="affiche">
                                <use xlink:href="#affiche" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Афиша</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="recreation">
                                <use xlink:href="#recreation" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Отдых и туризм</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="attraction">
                                <use xlink:href="#attraction" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Достопримечательности</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="entertainment">
                                <use xlink:href="#entertainment" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Развлечения</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="health">
                                <use xlink:href="#health" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Здоровье и красота</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="business">
                                <use xlink:href="#business" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Активный бизнес</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="smile">
                                <use xlink:href="#smile" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Твой позитив </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Правый блок -->
    <div class="right-block js-right-block">
        <!-- Шапка сайта -->
        <header>
            <div class="right-block__logo">
                <a href="javascript:undefined">
                    <img src="../img/logo.png" alt=""/>
                </a>
            </div>
            <div class="right-block__slogan">
                <p>успех на стороне активных!</p>
            </div>
            <div class="right-block__search">
                <div class="right-block__search__top">
                    <div class="right-block__search__top__city">
                        <a class="city-link js-city-link" href="javascript:undefined">
                            Тамбов
                            <svg class="arrow-city">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </a>
                        <div class="right-block__search__top__city__list">

                        </div>
                    </div>
                    <div class="right-block__search__top__soc">
                        <ul>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico">
                                        <use xlink:href="#facebook" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico">
                                        <use xlink:href="#vk" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico">
                                        <use xlink:href="#twitter" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico"> <use xlink:href="#ok" /> </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-block__search__top__search768 js-search768">
                        <svg>
                            <use xlink:href="#search" />
                        </svg>
                    </div>
                    <div class="right-block__search__top__burger460 js-burger460">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="right-block__search__input js-search-input">
                    <form action="">
                        <input type="text" name=""/>
                        <input type="submit" value=""/>
                    </form>
                </div>
            </div>
        </header>

        <!-- Контент -->
        <div class="content js-content article-page">
            <div class="gray-line"></div>
            <p class="catalog-title">Шеф-повар сделал акцент на итальянских блюдах</p>
            <div class="content__breadcrumbs article-crumbs">
                <ul>
                    <li>
                        <a href="javascript:undefined">
                            Главная
                            <svg class="crumb">
                                <use xlink:href="#breadcrumb" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:undefined">
                            Каталог статей
                            <svg class="crumb">
                                <use xlink:href="#breadcrumb" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:undefined">
                            Питание
                            <svg class="crumb">
                                <use xlink:href="#breadcrumb" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:undefined">
                            Ресторанная критика
                            <svg class="crumb">
                                <use xlink:href="#breadcrumb" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <span>Шеф-повар сделал акцент на итальянских блюдах</span>
                    </li>
                </ul>
            </div>
            <div class="article-page__wrap-list-banner js-wrap-banOrMap">
                <div class="article-page__inner-text">
                    <p class="article-date">2.03.2016</p>
                    <p class="article-category">Питание</p>
                    <div class="clearfix"></div>
                    <div class="article-page__inner-text__image-block">
                        <div class="article-page__inner-text__image-block__img" style="background-image: url(../img/article.jpg)"></div>
                        <p>Рекламное сообщество не критично. Узнавание бренда, следовательно, концентрирует экспериментальный баинг и селлинг. Искусство медиапланирования слабо индуцирует нестандартный подход, опираясь на опыт западных коллег. </p>
                        <h2>Подзаголовок</h2>
                        <p>Точечное воздействие консолидирует типичный имидж предприятия. Фирменный стиль программирует фирменный ребрендинг. Позиционирование на рынке, пренебрегая деталями, конструктивно. Конкурентоспособность откровенно цинична. </p>
                        <p>Фирменный стиль программирует фирменный ребрендинг. Позиционирование на рынке, пренебрегая деталями, конструктивно. Конкурентоспособность откровенно цинична. Привлечение аудитории без оглядки на авторитеты сознательно индуцирует повседневный медиабизнес.</p>
                    </div>
                    <div class="article-page__goods-block">
                        <p class="goods-title">Заголовок блока</p>
                        <div class="article-page__goods-block__wrapper-blocks js-catalog-list">
                            <div class="article-page__goods-block__wrapper-blocks__element js-element">
                                <div class="article-page__goods-block__wrapper-blocks__element__img">
                                    <img src="../img/article.jpg" alt=""/>
                                </div>
                                <p class="good-title">Название товара</p>
                                <p class="good-data">Краткий текст про товар, про цену или свойства товара</p>
                            </div>
                            <div class="article-page__goods-block__wrapper-blocks__element js-element">
                                <div class="article-page__goods-block__wrapper-blocks__element__img">
                                    <img src="../img/article.jpg" alt=""/>
                                </div>
                                <p class="good-title">Название товара</p>
                                <p class="good-data">Краткий текст про товар, про цену или свойства товара</p>
                            </div>
                            <div class="article-page__goods-block__wrapper-blocks__element js-element">
                                <div class="article-page__goods-block__wrapper-blocks__element__img">
                                    <img src="../img/article.jpg" alt=""/>
                                </div>
                                <p class="good-title">Название товара</p>
                                <p class="good-data">Краткий текст про товар, про цену или свойства товара</p>
                            </div>
                            <div class="article-page__goods-block__wrapper-blocks__element js-element">
                                <div class="article-page__goods-block__wrapper-blocks__element__img">
                                    <img src="../img/article.jpg" alt=""/>
                                </div>
                                <p class="good-title">Название товара</p>
                                <p class="good-data">Краткий текст про товар, про цену или свойства товара</p>
                            </div>
                        </div>
                    </div>
                    <div class="article-page__inner-text__sub-text">
                        <p>Узнавание бренда поддерживает из ряда вон выходящий медиамикс. Повышение жизненных стандартов позитивно переворачивает креатив. Объемная скидка, конечно, спорадически определяет общественный ребрендинг. Стимулирование сбыта стабилизирует <span>креативный инвестиционный продукт</span>. Несмотря на сложности, инвестиционный продукт обуславливает CTR. Опрос порождает имидж.</p>
                        <p>
                            <img src="../img/article2.jpg" alt=""/>
                        </p>
                        <h2>подзаголовок</h2>
                        <ul>
                            <li>Корпоративная культура, как следует из вышесказанного, ускоряет повторный контакт. </li>
                            <li>Создание приверженного покупателя тормозит креативный сегмент рынка. </li>
                            <li>Представляется логичным, что инструмент маркетинга ригиден как никогда. </li>
                            <li>Визуализация концепии подсознательно детерминирует общественный рекламный бриф.</li>
                        </ul>
                    </div>
                    <div class="soc-block article-page__soc-block">
                        <div class="ya-share2" data-services="facebook,vkontakte,twitter,odnoklassniki" data-size="m" data-bare="" data-counter=""></div>
                    </div>
                </div>
                <div class="article-page__banner-block js-banner">
                    <img src="../img/banner-mini-2.jpg" alt=""/>
                </div>
            </div>
        </div>
        <!-- -->
        //= blocks/footer.html
    </div>
    //= blocks/popup.html
</div>

//= blocks/scripts.html
</body>
</html>