//= blocks/head.html
<body>

//= blocks/svg.html
<div class="wrapper">
    <!-- Левое меню -->
    <div class="left-menu js-left-menu-hover close">
        <div class="left-menu__burger js-burger burger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="left-menu__submenu js-left-submenu">
            <ul>
                <li class="color--orange">
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="sport">
                                <use xlink:href="#sport" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Физическая культура</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="food">
                                <use xlink:href="#food" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Питание</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="affiche">
                                <use xlink:href="#affiche" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Афиша</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="recreation">
                                <use xlink:href="#recreation" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Отдых и туризм</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="attraction">
                                <use xlink:href="#attraction" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Достопримечательности</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="entertainment">
                                <use xlink:href="#entertainment" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Развлечения</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="health">
                                <use xlink:href="#health" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Здоровье и красота</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="business">
                                <use xlink:href="#business" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Активный бизнес</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="smile">
                                <use xlink:href="#smile" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Твой позитив </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Правый блок -->
    <div class="right-block js-right-block">
        <!-- Шапка сайта -->
        <header>
            <div class="right-block__logo">
                <a href="javascript:undefined">
                    <img src="../img/logo.png" alt=""/>
                </a>
            </div>
            <div class="right-block__slogan">
                <p>успех на стороне активных!</p>
            </div>
            <div class="right-block__search">
                <div class="right-block__search__top">
                    <div class="right-block__search__top__city">
                        <a class="city-link js-city-link" href="javascript:undefined">
                            Тамбов
                            <svg class="arrow-city">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </a>
                        <div class="right-block__search__top__city__list">

                        </div>
                    </div>
                    <div class="right-block__search__top__soc">
                        <ul>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico">
                                        <use xlink:href="#facebook" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico">
                                        <use xlink:href="#vk" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico">
                                        <use xlink:href="#ok" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico"> <use xlink:href="#ok" /> </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-block__search__top__search768 js-search768">
                        <svg>
                            <use xlink:href="#search" />
                        </svg>
                    </div>
                    <div class="right-block__search__top__burger460 js-burger460">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="right-block__search__input js-search-input">
                    <form action="">
                        <input type="text" name=""/>
                        <input type="submit" value=""/>
                    </form>
                </div>
            </div>
        </header>

        <!-- Контент -->
        <div class="content js-content">
            <div class="content__wrap-slide">
                <div class="content__wrap-slide__block-slider js-top-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image: url(../img/banner.jpg)">
                            <div class="content__wrap-slide__block-slider__text-slide">
                                <p class="title-slide">Заголовок</p>
                                <p class="text-slide">Рекламное сообщество не критично. Узнавание бренда, следовательно, концентрирует экспериментальный селлинг. </p>
                                <a href="javascript:undefined" class="link-slide">Подробнее</a>
                            </div>
                        </div>
                        <div class="swiper-slide" style="background-image: url(../img/banner.jpg)">
                            <div class="content__wrap-slide__block-slider__text-slide">
                                <p class="title-slide">Заголовок</p>
                                <p class="text-slide">Рекламное сообщество не критично. Узнавание бренда, следовательно, концентрирует экспериментальный селлинг. </p>
                                <a href="javascript:undefined" class="link-slide">Подробнее</a>
                            </div>
                        </div>
                        <div class="swiper-slide" style="background-image: url(../img/banner.jpg)">
                            <div class="content__wrap-slide__block-slider__text-slide">
                                <p class="title-slide">Заголовок</p>
                                <p class="text-slide">Рекламное сообщество не критично. Узнавание бренда, следовательно, концентрирует экспериментальный селлинг. </p>
                                <a href="javascript:undefined" class="link-slide">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="content__wrap-slide__block-banner">
                    <a href="javascript:undefined">
                        <img src="../img/banner-mini.jpg" alt=""/>
                    </a>
                </div>
            </div>
            <div class="content__list-category" id="category-list" style="overflow: hidden">
                <div class="row">
                    <div class="content__list-category__element one-square item blue-theme">
                        <a href="javascript:undefined">
                            <img src="../img/banner-category.jpg" alt=""/>
                            <p class="element-title">Физическая культура</p>
                            <div class="content__list-category__element__preview preview">
                                <p>Фирменный стиль программирует фирменный ребрендинг. Позиционирование на рынке, пренебрегая деталями, конструктивно. </p>
                            </div>
                        </a>
                    </div>
                    <div class="content__list-category__element one-square item orange-theme">
                        <a href="javascript:undefined">
                            <img src="../img/banner-category4.jpg" alt=""/>
                            <p class="element-title">Питание</p>
                            <div class="content__list-category__element__preview preview">
                                <p>Фирменный стиль программирует фирменный ребрендинг. Позиционирование на рынке, пренебрегая деталями, конструктивно. </p>
                            </div>
                        </a>
                    </div>
                    <div class="content__list-category__element one-square item light-blue-theme">
                        <a href="javascript:undefined">
                            <img src="../img/banner-category.jpg" alt=""/>
                            <p class="element-title">Афиша</p>
                            <div class="content__list-category__element__preview preview">
                                <p>Фирменный стиль программирует фирменный ребрендинг. Позиционирование на рынке, пренебрегая деталями, конструктивно. </p>
                            </div>
                        </a>
                    </div>
                    <div class="content__list-category__element one-square item blue-theme">
                        <a href="javascript:undefined">
                            <img src="../img/banner-category4.jpg" alt=""/>
                            <p class="element-title">Отдых и туризм</p>
                            <div class="content__list-category__element__preview preview">
                                <p>Фирменный стиль программирует фирменный ребрендинг. Позиционирование на рынке, пренебрегая деталями, конструктивно. </p>
                            </div>
                        </a>
                    </div>
                    <div class="content__list-category__element one-square item orange-theme">
                        <a href="javascript:undefined">
                            <img src="../img/banner-category.jpg" alt=""/>
                            <p class="element-title">Здоровье и красота</p>
                            <div class="content__list-category__element__preview preview">
                                <p>Фирменный стиль программирует фирменный ребрендинг. Позиционирование на рынке, пренебрегая деталями, конструктивно. </p>
                            </div>
                        </a>
                    </div>
                    <div class="content__list-category__element one-square item light-blue-theme">
                        <a href="javascript:undefined">
                            <img src="../img/banner-category.jpg" alt=""/>
                            <p class="element-title">Активный бизнес</p>
                            <div class="content__list-category__element__preview preview">
                                <p>Фирменный стиль программирует фирменный ребрендинг. Позиционирование на рынке, пренебрегая деталями, конструктивно. </p>
                            </div>
                        </a>
                    </div>
                    <div class="content__list-category__element two-square item orange-theme">
                        <a href="javascript:undefined">
                            <img height="400" src="../img/banner-category7.jpg" alt=""/>
                            <p class="element-title">Развлечения</p>
                            <div class="content__list-category__element__preview preview">
                                <p>Фирменный стиль программирует фирменный ребрендинг. Позиционирование на рынке, пренебрегая деталями, конструктивно. </p>
                            </div>
                        </a>
                    </div>
                    <div class="content__list-category__element four-square anchor item light-blue-theme">
                        <a href="javascript:undefined">
                            <img  height="400" src="../img/banner-category10.jpg" alt=""/>
                            <p class="element-title">Достопримечательности</p>
                            <div class="content__list-category__element__preview preview">
                                <p>Фирменный стиль программирует фирменный ребрендинг. Позиционирование на рынке, пренебрегая деталями, конструктивно. </p>
                            </div>
                        </a>
                    </div>
                    <div class="content__list-category__element two-square item blue-theme">
                        <a href="javascript:undefined">
                            <img height="400" src="../img/banner-category9.jpg" alt=""/>
                            <p class="element-title">Твой позитив</p>
                            <div class="content__list-category__element__preview preview">
                                <p>Фирменный стиль программирует фирменный ребрендинг. Позиционирование на рынке, пренебрегая деталями, конструктивно. </p>
                            </div>
                        </a>
                    </div>
                    <div class="content__list-category__element four-square item afiche-theme-2">
                        <a href="javascript:undefined">
                            <img height="400" src="../img/banner-category10.jpg" alt=""/>
                            <div class="description">
                                <p class="date-event">2.02.2016 12:00</p>
                                <p class="title-event">Спектакль «Цветные сны новогодней ночи»</p>
                                <p class="category-event">Афиша / Спектакли</p>
                            </div>
                        </a>
                    </div>
                    <div class="content__list-category__element four-square item afiche-theme-2-orange">
                        <a href="javascript:undefined">
                            <img height="400" src="../img/banner-category10.jpg" alt=""/>
                            <div class="description">
                                <p class="date-event">2.02.2016 12:00</p>
                                <p class="title-event">Спектакль «Цветные сны новогодней ночи»</p>
                                <p class="category-event">Афиша / Спектакли</p>
                            </div>
                        </a>
                    </div>
                    <div class="content__list-category__element four-square item afiche-theme-2-blue">
                        <a href="javascript:undefined">
                            <img height="400" src="../img/banner-category10.jpg" alt=""/>
                            <div class="description">
                                <p class="date-event">2.02.2016 12:00</p>
                                <p class="title-event">Спектакль «Цветные сны новогодней ночи»</p>
                                <p class="category-event">Афиша / Спектакли</p>
                            </div>
                        </a>
                    </div>
                    <div class="content__list-category__element four-square item afiche-theme-2-gray">
                        <a href="javascript:undefined">
                            <img height="400" src="../img/banner-category10.jpg" alt=""/>
                            <div class="description">
                                <p class="date-event">2.02.2016 12:00</p>
                                <p class="title-event">Спектакль «Цветные сны новогодней ночи»</p>
                                <p class="category-event">Афиша / Спектакли</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="content__list-category__element six-square item afiche-thema">
                    <p class="element-title">Афиша</p>
                    <div class="content__list-category__element__list-afiche list-afiche">
                        <ul>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category1.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category9.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category4.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category6.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content__list-category__element six-square item afiche-thema-orange js-item">
                    <p class="element-title">Афиша</p>
                    <div class="content__list-category__element__list-afiche list-afiche">
                        <ul>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category1.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category9.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category4.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category6.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content__list-category__element six-square item afiche-thema-green js-item">
                    <p class="element-title">Афиша</p>
                    <div class="content__list-category__element__list-afiche list-afiche">
                        <ul>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category1.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category9.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category4.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category6.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content__list-category__element six-square item afiche-thema-blue js-item">
                    <p class="element-title">Афиша</p>
                    <div class="content__list-category__element__list-afiche list-afiche">
                        <ul>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category1.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category9.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category4.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                            <li>
                                <div class="image-slide" style="background-image: url(../img/banner-category6.jpg)">
                                    <a href="javascript:undefined"></a>
                                </div>
                                <div class="text-slide">
                                    <p class="title-category"><a href="">Афиша / Спектакли</a></p>
                                    <p class="date">2.02.2016 12:00</p>
                                    <p class="title-event"><a href="">Моноспектакль Сергея Безрукова</a></p>
                                    <p class="slide-address">ул. Интернациональная, 15</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content__list-category__element four-square item critic-theme js-item">
                    <p class="element-title">Ресторанная критика</p>
                    <div class="critic-list">
                        <div class="element-critic">
                            <div class="image">
                                <a href="javascript:undefined">
                                    <img src="../img/banner-category4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="text">
                                <p class="date-text">13.12.2015</p>
                                <div class="preview-text">
                                    <p>
                                        <a href="">Прощание с летом в летнем кафе</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="element-critic">
                            <div class="image">
                                <a href="javascript:undefined">
                                    <img src="../img/banner-category4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="text">
                                <p class="date-text">13.12.2015</p>
                                <div class="preview-text">
                                    <p>
                                        <a href="">Чудесный летний вечер в кафе ванильное небо</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" element-critic">
                            <div class="image">
                                <a href="javascript:undefined">
                                    <img src="../img/banner-category4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="text">
                                <p class="date-text">13.12.2015</p>
                                <div class="preview-text">
                                    <p>
                                        <a href="">Счастливый перерыв)</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content__list-category__element four-square item critic-theme-green js-item">
                    <p class="element-title">Ресторанная критика</p>
                    <div class="critic-list">
                        <div class="element-critic">
                            <div class="image">
                                <a href="javascript:undefined">
                                    <img src="../img/banner-category4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="text">
                                <p class="date-text">13.12.2015</p>
                                <div class="preview-text">
                                    <p>
                                        <a href="">Прощание с летом в летнем кафе</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="element-critic">
                            <div class="image">
                                <a href="javascript:undefined">
                                    <img src="../img/banner-category4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="text">
                                <p class="date-text">13.12.2015</p>
                                <div class="preview-text">
                                    <p>
                                        <a href="">Чудесный летний вечер в кафе ванильное небо</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" element-critic">
                            <div class="image">
                                <a href="javascript:undefined">
                                    <img src="../img/banner-category4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="text">
                                <p class="date-text">13.12.2015</p>
                                <div class="preview-text">
                                    <p>
                                        <a href="">Счастливый перерыв)</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content__list-category__element four-square item critic-theme-gray js-item">
                    <p class="element-title">Ресторанная критика</p>
                    <div class="critic-list">
                        <div class="element-critic">
                            <div class="image">
                                <a href="javascript:undefined">
                                    <img src="../img/banner-category4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="text">
                                <p class="date-text">13.12.2015</p>
                                <div class="preview-text">
                                    <p>
                                        <a href="">Прощание с летом в летнем кафе</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="element-critic">
                            <div class="image">
                                <a href="javascript:undefined">
                                    <img src="../img/banner-category4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="text">
                                <p class="date-text">13.12.2015</p>
                                <div class="preview-text">
                                    <p>
                                        <a href="">Чудесный летний вечер в кафе ванильное небо</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" element-critic">
                            <div class="image">
                                <a href="javascript:undefined">
                                    <img src="../img/banner-category4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="text">
                                <p class="date-text">13.12.2015</p>
                                <div class="preview-text">
                                    <p>
                                        <a href="">Счастливый перерыв)</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content__list-category__element four-square item critic-theme-orange js-item">
                    <p class="element-title">Ресторанная критика</p>
                    <div class="critic-list">
                        <div class="element-critic">
                            <div class="image">
                                <a href="javascript:undefined">
                                    <img src="../img/banner-category4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="text">
                                <p class="date-text">13.12.2015</p>
                                <div class="preview-text">
                                    <p>
                                        <a href="">Прощание с летом в летнем кафе</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="element-critic">
                            <div class="image">
                                <a href="javascript:undefined">
                                    <img src="../img/banner-category4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="text">
                                <p class="date-text">13.12.2015</p>
                                <div class="preview-text">
                                    <p>
                                        <a href="">Чудесный летний вечер в кафе ванильное небо</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class=" element-critic">
                            <div class="image">
                                <a href="javascript:undefined">
                                    <img src="../img/banner-category4.jpg" alt=""/>
                                </a>
                            </div>
                            <div class="text">
                                <p class="date-text">13.12.2015</p>
                                <div class="preview-text">
                                    <p>
                                        <a href="">Счастливый перерыв)</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content__list-category__element two-square item orange-theme-events js-item">
                    <div class="img" style="background-image: url(../img/banner-category.jpg)"></div>
                    <div class="description">
                        <p class="date-event">26.01.2016 18:30</p>
                        <p class="category-event">
                            <a href="">Физкультура/ Спортивные события</a>
                        </p>
                        <p class="title-event">
                            <a href="">Домашние игры БК «Тамбов» проведет с командой из Саранска</a>
                        </p>
                    </div>
                </div>
                <div class="content__list-category__element two-square item blue-theme-events js-item">
                    <div class="img" style="background-image: url(../img/banner-category.jpg)"></div>
                    <div class="description">
                        <p class="date-event">26.01.2016 18:30</p>
                        <p class="category-event">
                            <a href="">Физкультура/ Спортивные события</a>
                        </p>
                        <p class="title-event">
                            <a href="">Домашние игры БК «Тамбов» проведет с командой из Саранска</a>
                        </p>
                    </div>
                </div>
                <div class="content__list-category__element two-square item gray-theme-events js-item">
                    <div class="img" style="background-image: url(../img/banner-category.jpg)"></div>
                    <div class="description">
                        <p class="date-event">26.01.2016 18:30</p>
                        <p class="category-event">
                            <a href="">Физкультура/ Спортивные события</a>
                        </p>
                        <p class="title-event">
                            <a href="">Домашние игры БК «Тамбов» проведет с командой из Саранска</a>
                        </p>
                    </div>
                </div>
                <div class="content__list-category__element two-square item green-theme-events js-item">
                    <div class="img" style="background-image: url(../img/banner-category.jpg)"></div>
                    <div class="description">
                        <p class="date-event">26.01.2016 18:30</p>
                        <p class="category-event">
                            <a href="">Физкультура/ Спортивные события</a>
                        </p>
                        <p class="title-event">
                            <a href="">Домашние игры БК «Тамбов» проведет с командой из Саранска</a>
                        </p>
                    </div>
                </div>
                <div class="content__list-category__element four-square item slider-theme js-slider-theme js-item">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="../img/banner-categoty-slide.jpg" alt=""/>
                        </div>
                        <div class="swiper-slide" style="background-image: url(../img/banner-categoty-slide.jpg)"></div>
                        <div class="swiper-slide" style="background-image: url(../img/banner-categoty-slide.jpg)"></div>
                    </div>
                    <div class="swiper-pagination-catalog"></div>
                </div>
            </div>
            <div class="content__index-description">
                <h1>Заголовок для главной страницы</h1>
                <div class="content__index-description__text">
                    <p>Рекламное сообщество не критично. Узнавание бренда, следовательно, концентрирует экспериментальный баинг и селлинг. Искусство медиапланирования слабо индуцирует нестандартный подход, опираясь на опыт западных коллег. </p>
                    <h2>подзаголовок</h2>
                    <p>Точечное воздействие консолидирует типичный имидж предприятия. </p>
                    <ul>
                        <li>Точечное воздействие консолидирует типичный имидж предприятия. </li>
                        <li>Создание приверженного покупателя тормозит креативный сегмент рынка. </li>
                        <li>Представляется логичным, что инструмент маркетинга ригиден как никогда.</li>
                        <li>Визуализация концепии подсознательно детерминирует общественный рекламный бриф.</li>
                    </ul>
                    <p>Визуализация концепии подсознательно детерминирует общественный рекламный бриф.</p>
                    <p>Привлечение аудитории без оглядки на авторитеты сознательно индуцирует повседневный медиабизнес. Более того, <span>бюджет на размещение</span> спонтанно позиционирует ролевой SWOT-анализ, оптимизируя бюджеты.</p>
                    <h2>подзаголовок</h2>
                    <p>Как отмечает Майкл Мескон, управление брендом раскручивает институциональный формирование имиджа. Ценовая стратегия отталкивает эмпирический сегмент рынка, осознав маркетинг как часть производства. Служба маркетинга компании, в рамках сегодняшних воззрений, подсознательно усиливает фирменный медийный канал, используя опыт предыдущих кампаний. </p>
                </div>
            </div>
        </div>
        <!-- -->
        //= blocks/footer.html
    </div>
    //= blocks/popup.html
</div>

//= blocks/scripts.html
</body>
</html>