//= blocks/head.html
<body>

    //= blocks/svg.html
    <div class="wrapper">
        <!-- Левое меню -->
        <div class="left-menu js-left-menu-hover close">
            <div class="left-menu__burger js-burger burger">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="left-menu__submenu js-left-submenu">
                <ul>
                    <li>
                        <div class="left-menu__submenu__wrap-svg">
                            <a href="javascript:undefined">
                                <svg class="sport">
                                    <use xlink:href="#sport" />
                                </svg>
                            </a>
                        </div>
                        <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                            <a href="javascript:undefined">Физическая культура</a>
                        </div>
                    </li>
                    <li>
                        <div class="left-menu__submenu__wrap-svg">
                            <a href="javascript:undefined">
                                <svg class="food">
                                    <use xlink:href="#food" />
                                </svg>
                            </a>
                        </div>
                        <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                            <a href="javascript:undefined">Питание</a>
                        </div>
                    </li>
                    <li>
                        <div class="left-menu__submenu__wrap-svg">
                            <a href="javascript:undefined">
                                <svg class="affiche">
                                    <use xlink:href="#affiche" />
                                </svg>
                            </a>
                        </div>
                        <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                            <a href="javascript:undefined">Афиша</a>
                        </div>
                    </li>
                    <li>
                        <div class="left-menu__submenu__wrap-svg">
                            <a href="javascript:undefined">
                                <svg class="recreation">
                                    <use xlink:href="#recreation" />
                                </svg>
                            </a>
                        </div>
                        <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                            <a href="javascript:undefined">Отдых и туризм</a>
                        </div>
                    </li>
                    <li>
                        <div class="left-menu__submenu__wrap-svg">
                            <a href="javascript:undefined">
                                <svg class="attraction">
                                    <use xlink:href="#attraction" />
                                </svg>
                            </a>
                        </div>
                        <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                            <a href="javascript:undefined">Достопримечательности</a>
                        </div>
                    </li>
                    <li>
                        <div class="left-menu__submenu__wrap-svg">
                            <a href="javascript:undefined">
                                <svg class="entertainment">
                                    <use xlink:href="#entertainment" />
                                </svg>
                            </a>
                        </div>
                        <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                            <a href="javascript:undefined">Развлечения</a>
                        </div>
                    </li>
                    <li>
                        <div class="left-menu__submenu__wrap-svg">
                            <a href="javascript:undefined">
                                <svg class="health">
                                    <use xlink:href="#health" />
                                </svg>
                            </a>
                        </div>
                        <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                            <a href="javascript:undefined">Здоровье и красота</a>
                        </div>
                    </li>
                    <li>
                        <div class="left-menu__submenu__wrap-svg">
                            <a href="javascript:undefined">
                                <svg class="business">
                                    <use xlink:href="#business" />
                                </svg>
                            </a>
                        </div>
                        <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                            <a href="javascript:undefined">Активный бизнес</a>
                        </div>
                    </li>
                    <li>
                        <div class="left-menu__submenu__wrap-svg">
                            <a href="javascript:undefined">
                                <svg class="smile">
                                    <use xlink:href="#smile" />
                                </svg>
                            </a>
                        </div>
                        <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                            <a href="javascript:undefined">Твой позитив </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Правый блок -->
        <div class="right-block js-right-block">
            <!-- Шапка сайта -->
            <header>
                <div class="right-block__logo">
                    <a href="javascript:undefined">
                        <img src="../img/logo.png" alt=""/>
                    </a>
                </div>
                <div class="right-block__slogan">
                    <p>успех на стороне активных!</p>
                </div>
                <div class="right-block__search">
                    <div class="right-block__search__top">
                        <div class="right-block__search__top__city">
                            <a class="city-link js-city-link" href="javascript:undefined">
                                Тамбов
                                <svg class="arrow-city">
                                    <use xlink:href="#arrow-down" />
                                </svg>
                            </a>
                            <div class="right-block__search__top__city__list">

                            </div>
                        </div>
                        <div class="right-block__search__top__soc">
                            <ul>
                                <li>
                                    <a href="javascript:undefined">
                                        <svg class="ico">
                                            <use xlink:href="#facebook" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:undefined">
                                        <svg class="ico">
                                            <use xlink:href="#vk" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:undefined">
                                        <svg class="ico">
                                            <use xlink:href="#twitter" />
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:undefined">
                                        <svg class="ico"> <use xlink:href="#ok" /> </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-block__search__top__search768 js-search768">
                            <svg>
                                <use xlink:href="#search" />
                            </svg>
                        </div>
                        <div class="right-block__search__top__burger460 js-burger460">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <div class="right-block__search__input js-search-input">
                        <form action="">
                            <input type="text" name=""/>
                            <input type="submit" value=""/>
                        </form>
                    </div>
                </div>
            </header>

            <!-- Футер -->
            <footer id="footer" class="footer">
                <div class="footer__slider">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">Slide 1</div>
                            <div class="swiper-slide">Slide 2</div>
                            <div class="swiper-slide">Slide 3</div>
                            <div class="swiper-slide">Slide 4</div>
                            <div class="swiper-slide">Slide 5</div>
                            <div class="swiper-slide">Slide 6</div>
                            <div class="swiper-slide">Slide 7</div>
                            <div class="swiper-slide">Slide 8</div>
                            <div class="swiper-slide">Slide 9</div>
                            <div class="swiper-slide">Slide 10</div>
                        </div>
                    </div>
                </div>
                <div class="footer__subscription">

                </div>
            </footer>
        </div>

    </div>

    //= blocks/scripts.html
</body>
</html>