//= blocks/head.html
<body>

//= blocks/svg.html
<div class="wrapper">
    <!-- Левое меню -->
    <div class="left-menu js-left-menu-hover close">
        <div class="left-menu__burger js-burger burger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="left-menu__submenu js-left-submenu">
            <ul>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="sport">
                                <use xlink:href="#sport" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Физическая культура</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="food">
                                <use xlink:href="#food" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Питание</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="affiche">
                                <use xlink:href="#affiche" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Афиша</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="recreation">
                                <use xlink:href="#recreation" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Отдых и туризм</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="attraction">
                                <use xlink:href="#attraction" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Достопримечательности</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="entertainment">
                                <use xlink:href="#entertainment" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Развлечения</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="health">
                                <use xlink:href="#health" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Здоровье и красота</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="business">
                                <use xlink:href="#business" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Активный бизнес</a>
                    </div>
                </li>
                <li>
                    <div class="left-menu__submenu__wrap-svg">
                        <a href="javascript:undefined">
                            <svg class="smile">
                                <use xlink:href="#smile" />
                            </svg>
                        </a>
                    </div>
                    <div class="left-menu__submenu__wrap-link wrap-link js-wrap-link">
                        <a href="javascript:undefined">Твой позитив </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Правый блок -->
    <div class="right-block js-right-block">
        <!-- Шапка сайта -->
        <header>
            <div class="right-block__logo">
                <a href="javascript:undefined">
                    <img src="../img/logo.png" alt=""/>
                </a>
            </div>
            <div class="right-block__slogan">
                <p>успех на стороне активных!</p>
            </div>
            <div class="right-block__search">
                <div class="right-block__search__top">
                    <div class="right-block__search__top__city">
                        <a class="city-link js-city-link" href="javascript:undefined">
                            Тамбов
                            <svg class="arrow-city">
                                <use xlink:href="#arrow-down" />
                            </svg>
                        </a>
                        <div class="right-block__search__top__city__list">

                        </div>
                    </div>
                    <div class="right-block__search__top__soc">
                        <ul>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico">
                                        <use xlink:href="#facebook" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico">
                                        <use xlink:href="#vk" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico">
                                        <use xlink:href="#twitter" />
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:undefined">
                                    <svg class="ico"> <use xlink:href="#ok" /> </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="right-block__search__top__search768 js-search768">
                        <svg>
                            <use xlink:href="#search" />
                        </svg>
                    </div>
                    <div class="right-block__search__top__burger460 js-burger460">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="right-block__search__input js-search-input">
                    <form action="">
                        <input type="text" name=""/>
                        <input type="submit" value=""/>
                    </form>
                </div>
            </div>
        </header>

        <!-- Контент -->
        <div class="content js-content category-catalog-content">
            <div class="gray-line"></div>
            <p class="catalog-title">Питание</p>
            <div class="content__breadcrumbs">
                <ul>
                    <li>
                        <a href="javascript:undefined">
                            Главная
                            <svg class="crumb">
                                <use xlink:href="#breadcrumb" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:undefined">
                            Каталог организаций
                            <svg class="crumb">
                                <use xlink:href="#breadcrumb" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:undefined">
                            Питание
                        </a>
                    </li>
                </ul>
            </div>
            <div class="category-catalog-content__wrap-catalog-banner">
                <div class="category-catalog-content__inner-text">
                    <div class="category-catalog-content__wrapper-list">
                        <div class="category-catalog-content__wrapper-list__element light-blue-theme two-square-category" style="background-image: url(../img/banner-category11.jpg)">
                            <a href="javascript:undefined">
                                <p class="element-title">Рестораны</p>
                            </a>
                        </div>
                        <div class="category-catalog-content__wrapper-list__element blue-theme two-square-category" style="background-image: url(../img/banner-categoty-slide.jpg)">
                            <a href="javascript:undefined">
                                <p class="element-title">Кафе</p>
                            </a>
                        </div>
                        <div class="category-catalog-content__wrapper-list__element orange-theme one-square-category" style="background-image: url(../img/banner-2.jpg)">
                            <a href="javascript:undefined">
                                <p class="element-title">Бары</p>
                            </a>
                        </div>
                        <div class="category-catalog-content__wrapper-list__element orange-theme one-square-category" style="background-image: url(../img/banner-2.jpg)">
                            <a href="javascript:undefined">
                                <p class="element-title">Бары</p>
                            </a>
                        </div>
                    </div>
                    <div class="content__index-description">
                        <h1>Заголовок для раздела</h1>
                        <div class="content__index-description__text">
                            <p>Рекламное сообщество не критично. Узнавание бренда, следовательно, концентрирует экспериментальный баинг и селлинг. Искусство медиапланирования слабо индуцирует нестандартный подход, опираясь на опыт западных коллег. </p>
                            <h2>подзаголовок</h2>
                            <p>Точечное воздействие консолидирует типичный имидж предприятия. </p>
                            <ul>
                                <li>Точечное воздействие консолидирует типичный имидж предприятия. </li>
                                <li>Создание приверженного покупателя тормозит креативный сегмент рынка. </li>
                                <li>Представляется логичным, что инструмент маркетинга ригиден как никогда.</li>
                                <li>Визуализация концепии подсознательно детерминирует общественный рекламный бриф.</li>
                            </ul>
                            <p>Визуализация концепии подсознательно детерминирует общественный рекламный бриф.</p>
                            <p>Привлечение аудитории без оглядки на авторитеты сознательно индуцирует повседневный медиабизнес. Более того, <span>бюджет на размещение</span> спонтанно позиционирует ролевой SWOT-анализ, оптимизируя бюджеты.</p>
                            <h2>подзаголовок</h2>
                            <p>Как отмечает Майкл Мескон, управление брендом раскручивает институциональный формирование имиджа. Ценовая стратегия отталкивает эмпирический сегмент рынка, осознав маркетинг как часть производства. Служба маркетинга компании, в рамках сегодняшних воззрений, подсознательно усиливает фирменный медийный канал, используя опыт предыдущих кампаний. </p>
                        </div>
                    </div>
                </div>
                <div class="category-catalog-content__banner-block">
                    <img src="../img/banner-mini-2.jpg" alt=""/>
                </div>
            </div>
        </div>
        <!-- -->
        <!-- Футер -->
        <footer id="footer" class="footer">
            <div class="footer__slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="image-slide">
                                <a href="javascript:undefined"></a>
                            </div>
                            <div class="text-slide">
                                <p class="title-category">Афиша / Спектакли</p>
                                <p class="date">2.02.2016 12:00</p>
                                <p class="title-event">Моноспектакль Сергея Безрукова</p>
                                <p class="slide-address">ул. Интернациональная, 15</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-slide">
                                <a href="javascript:undefined"></a>
                            </div>
                            <div class="text-slide">
                                <p class="title-category">Афиша / Концерты</p>
                                <p class="date">4.03.2016 19:00</p>
                                <p class="title-event">Концерт группы “пикник”</p>
                                <p class="slide-address">пл. Льва Толстого, 4а</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-slide">
                                <a href="javascript:undefined"></a>
                            </div>
                            <div class="text-slide">
                                <p class="title-category">Физкультура/ Спортивные события</p>
                                <p class="date">26.01.2016 18:30</p>
                                <p class="title-event">Домашние игры Команды «Тамбов»</p>
                                <p class="slide-address">ул. Советская, 185</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-slide">
                                <a href="javascript:undefined"></a>
                            </div>
                            <div class="text-slide">
                                <p class="title-category">Развлечения / Вечеринки, тусовки</p>
                                <p class="date">5.02.2016 19:30</p>
                                <p class="title-event">«Ночь Гарри Поттера»</p>
                                <p class="slide-address">ул. Интернациональная, 17</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-slide">
                                <a href="javascript:undefined"></a>
                            </div>
                            <div class="text-slide">
                                <p class="title-category">Развлечения / Вечеринки, тусовки</p>
                                <p class="date">5.02.2016 19:30</p>
                                <p class="title-event">«Ночь Гарри Поттера»</p>
                                <p class="slide-address">ул. Интернациональная, 17</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-slide">
                                <a href="javascript:undefined"></a>
                            </div>
                            <div class="text-slide">
                                <p class="title-category">Развлечения / Вечеринки, тусовки</p>
                                <p class="date">5.02.2016 19:30</p>
                                <p class="title-event">«Ночь Гарри Поттера»</p>
                                <p class="slide-address">ул. Интернациональная, 17</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-slide">
                                <a href="javascript:undefined"></a>
                            </div>
                            <div class="text-slide">
                                <p class="title-category">Афиша / Спектакли</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-slide">
                                <a href="javascript:undefined"></a>
                            </div>
                            <div class="text-slide">
                                <p class="title-category">Афиша / Спектакли</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-slide">
                                <a href="javascript:undefined"></a>
                            </div>
                            <div class="text-slide">
                                <p class="title-category">Афиша / Спектакли</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="image-slide">
                                <a href="javascript:undefined"></a>
                            </div>
                            <div class="text-slide">
                                <p class="title-category">Афиша / Спектакли</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div class="footer__subscription">
                <form action="" id="subscription">
                    <div class="footer__subscription__block">
                        <p>Подписка на обновления:</p>
                    </div>
                    <div class="footer__subscription__block">
                        <input type="text" name="name" class="subscript-name" placeholder="Ваше имя"/>
                    </div>
                    <div class="footer__subscription__block">
                        <input type="text" name="mail" class="subscript-mail" placeholder="Ваш e-mail*"/>
                        <input type="submit" value="Подписаться"/>
                    </div>
                </form>
            </div>
            <div class="footer__links js-footer-links">
                <div class="footer__links__block">
                    <p class="title-category">Физическая культура</p>
                    <ul>
                        <li><a href="javascript:undefined">Спортивные события в городе</a></li>
                        <li><a href="javascript:undefined">Секции и спортшколы </a></li>
                        <li><a href="javascript:undefined">Спорткомплексы</a></li>
                        <li><a href="javascript:undefined">Фитнес-клубы </a></li>
                        <li><a href="javascript:undefined">Спортзалы</a></li>
                        <li><a href="javascript:undefined">Бассейны</a></li>
                        <li><a href="javascript:undefined">Экстремальный отдых </a></li>
                    </ul>
                </div>
                <div class="footer__links__block">
                    <p class="title-category">Питание</p>
                    <ul>
                        <li><a href="javascript:undefined">Горячие новости</a></li>
                        <li><a href="javascript:undefined">Кафе</a></li>
                        <li><a href="javascript:undefined">Рестораны</a></li>
                        <li><a href="javascript:undefined">Бары</a></li>
                        <li><a href="javascript:undefined">Это интересно</a></li>
                        <li><a href="javascript:undefined">Ресторанная критика</a></li>
                        <li><a href="javascript:undefined">Меню</a></li>
                    </ul>
                </div>
                <div class="footer__links__block">
                    <p class="title-category">Активный бизнес</p>
                    <ul>
                        <li><a href="javascript:undefined">Новости</a></li>
                        <li><a href="javascript:undefined">Статьи</a></li>
                        <li><a href="javascript:undefined">Интервью</a></li>
                    </ul>
                </div>
                <div class="footer__links__block">
                    <p class="title-category">Отдых и туризм</p>
                    <ul>
                        <li><a href="javascript:undefined">Турагенства</a></li>
                        <li><a href="javascript:undefined">Гостиницы</a></li>
                        <li><a href="javascript:undefined">Пансионаты</a></li>
                        <li><a href="javascript:undefined">Дома отдыха</a></li>
                        <li><a href="javascript:undefined">Турбазы</a></li>
                        <li><a href="javascript:undefined">Обзоры и статьи</a></li>
                        <li><a href="javascript:undefined">Путёвки и туры</a></li>
                        <li><a href="javascript:undefined">Паломничество</a></li>
                    </ul>
                </div>
                <div class="footer__links__block">
                    <p class="title-category">Достопримечательности</p>
                    <ul>
                        <li><a href="javascript:undefined">Исторические места</a></li>
                        <li><a href="javascript:undefined">Памятники</a></li>
                        <li><a href="javascript:undefined">Парки</a></li>
                        <li><a href="javascript:undefined">Храмы, соборы</a></li>
                        <li><a href="javascript:undefined">Это интересно</a></li>
                    </ul>
                </div>
                <div class="footer__links__block">
                    <p class="title-category">Здоровье и красота</p>
                    <ul>
                        <li><a href="javascript:undefined">Новости</a></li>
                        <li><a href="javascript:undefined">Салоны красоты</a></li>
                        <li><a href="javascript:undefined">Бани</a></li>
                        <li><a href="javascript:undefined">Оздоровительные центры</a></li>
                        <li><a href="javascript:undefined">Гид по здоровью</a></li>
                    </ul>
                </div>
                <div class="footer__links__block">
                    <p class="title-category">Развлечения</p>
                    <ul>
                        <li><a href="javascript:undefined">Кинотеатры, развлекательные  центры </a></li>
                        <li><a href="javascript:undefined">Дискотеки </a></li>
                        <li><a href="javascript:undefined">Творчество</a></li>
                        <li><a href="javascript:undefined">Вечеринки, тусовки</a></li>
                        <li><a href="javascript:undefined">Сити-игры, квесты </a></li>
                        <li><a href="javascript:undefined">Богема</a></li>
                        <li><a href="javascript:undefined">Шопинг</a></li>
                        <li><a href="javascript:undefined">Обзоры</a></li>
                        <li><a href="javascript:undefined">Игры</a></li>
                        <li><a href="javascript:undefined">Викторины</a></li>
                        <li><a href="javascript:undefined">Тесты</a></li>
                        <li><a href="javascript:undefined">Розыгрыши</a></li>
                    </ul>
                </div>
                <div class="footer__links__block">
                    <p class="title-category">Афиша</p>
                    <ul>
                        <li><a href="javascript:undefined">Театры</a></li>
                        <li><a href="javascript:undefined">Концертные залы</a></li>
                        <li><a href="javascript:undefined">Музеи, выставочные центры </a></li>
                        <li><a href="javascript:undefined">Спектакли </a></li>
                        <li><a href="javascript:undefined">Концерты </a></li>
                        <li><a href="javascript:undefined">Выставки </a></li>
                        <li><a href="javascript:undefined">Массовые мероприятия</a></li>
                        <li><a href="javascript:undefined">Звездная галерея</a></li>
                    </ul>
                </div>
                <div class="footer__links__block">
                    <p class="title-category">Твой позитив</p>
                    <ul>
                        <li><a href="javascript:undefined">Фото</a></li>
                        <li><a href="javascript:undefined">Видео</a></li>
                        <li><a href="javascript:undefined">Блоги</a></li>
                        <li><a href="javascript:undefined">Вопрос-ответ</a></li>
                    </ul>
                </div>
                <div class="footer__links__block">
                    <p class="title-category">О нас</p>
                    <ul>
                        <li><a href="javascript:undefined">Условия для рекламодателей</a></li>
                        <li><a href="javascript:undefined">Партнеры</a></li>
                        <li><a href="javascript:undefined">Контакты</a></li>
                    </ul>
                </div>
                <div class="footer__links__block">
                    <p class="title-category">Наши контакты</p>
                    <div class="footer__links__block__contacts js-contacts">
                        <p>Адрес: 392000 г.Тамбов, ул.Улица, д0</p>
                        <p>Телефон:  <span>8 000 000 00 00</span></p>
                        <p>E-mail: info@pozitivcity.ru</p>
                        <p>Skype: pozitivcity</p>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">

            </div>
        </footer>
    </div>
</div>

//= blocks/scripts.html
</body>
</html>